@font-face {
  font-family: 'Gilroy-light';
  src: url('/fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-normal';
  src: url('/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-bold';
  src: url('/fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Gilroy-light', 'Gilroy-normal', 'Gilroy-bold', sans-serif;
}
button {
  border: 0;
  background: none;
  cursor: pointer;
}
h1,
h2,
h3 {
  font-family: 'Gilroy-bold', sans-serif;
  font-weight: 800;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  font-family: 'Gilroy-normal', sans-serif;
  ::-webkit-scrollbar {
    width: 8px; // Szerokość paska przewijania
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); // Kolor suwaka
    border-radius: 10px; // Zaokrąglenie krawędzi suwaka
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); // Kolor tła paska przewijania
    border-radius: 10px; // Zaokrąglenie krawędzi toru
  }
}

.main-container {
  position: relative;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: clip;
  overflow-y: hidden;

  @media (min-width: 640px) {
    max-width: 1920px;
  }

  @media (min-width: 1280px) {
    // padding-left: 143px;
    // padding-right: 143px;
  }

  .hero-section {
    min-height: 755px;
  }
}
