.about-section {
  position: relative;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  padding-inline: 36px;
}
.about-section .about-header {
  font-size: 13px;
  font-family: "Gilroy-bold";
  font-weight: 800;
  height: 16px;
  color: var(--unnamed-color-000000);
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
@media (min-width: 768px) {
  .about-section .about-header {
    font-size: 28px;
  }
}
@media (min-width: 1024px) {
  .about-section .about-header {
    font-size: 45px;
  }
}
.about-section .about-custom-border {
  position: absolute;
  left: -36px;
  top: 28px;
  width: 137px;
  border: 1px solid black;
}
@media (min-width: 768px) {
  .about-section .about-custom-border {
    top: 38px;
  }
}
@media (min-width: 1024px) {
  .about-section .about-custom-border {
    top: 58px;
    border: 2px solid black;
    width: 1013px;
  }
}
@media (min-width: 1536px) {
  .about-section .about-custom-border {
    top: 58px;
    border: 2px solid black;
    width: 1413px;
  }
}
.about-section .about-description {
  font-size: 12px;
  color: var(--unnamed-color-000000);
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
@media (min-width: 1024px) {
  .about-section .about-description {
    margin-top: 66px;
    font-size: 16px;
    padding-inline: 142px;
  }
}
@media (min-width: 1536px) {
  .about-section .about-description {
    font-size: 20px;
  }
}
.about-section .about-description__bold {
  font-family: "Gilroy-bold";
}
.about-section .about-description__underline {
  text-decoration: underline;
}
.about-section .collaborate-box {
  display: flex;
  gap: 55px;
  align-items: center;
  position: relative;
  white-space: nowrap;
  margin-top: 40px;
  animation: scroll-left 40s linear infinite;
}
@media (min-width: 1536px) {
  .about-section .collaborate-box {
    justify-content: center;
    align-items: center;
    gap: 65px;
    margin-top: 95px;
    margin-bottom: 80px;
    animation: none;
  }
}
.about-section .collaborate-box__image {
  margin-right: 20px;
  background: transparent;
}
@media (min-width: 1536px) {
  .about-section .collaborate-box__image {
    animation: none;
    display: none;
  }
}
.about-section .collaborate-box__image-large {
  display: none;
  animation: none;
}
@media (min-width: 1536px) {
  .about-section .collaborate-box__image-large {
    display: block;
    max-width: 300px;
    animation: none;
  }
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-140%);
  }
}
.about-section .about-plus {
  position: absolute;
  top: 385px;
  left: 12px;
  width: 24px;
  height: 51px;
  font-weight: 800;
  font-size: 42px;
  font-family: "Gilroy-bold";
  color: var(--unnamed-color-000000);
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.22;
}
.about-section .about-one {
  position: absolute;
  top: 810px;
  left: 281px;
  width: 17px;
  height: 51px;
  /* UI Properties */
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal 800 42px/51px Gilroy;
  font-family: "Gilroy-bold", sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.22;
  z-index: -60;
}
.about-section .dashed-circle {
  position: absolute;
  top: 800px;
  right: -100px;
  width: 171px;
  height: 171px;
  opacity: 1;
  z-index: -60;
}
@media (min-width: 1024px) {
  .about-section .dashed-circle {
    display: none;
  }
}
.about-section .about-dash {
  position: absolute;
  top: -10px;
  left: 400px;
  width: 21px;
  height: 51px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal 800 42px/51px Gilroy;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.22;
  scale: 2;
}/*# sourceMappingURL=about.css.map */