.red-view {
  display: none;
  font-family: "Girloy-bold", sans-serif;
}
.red-view .hero-image-small {
  position: absolute;
  right: 0px;
  top: 420px;
  rotate: 12deg;
  width: 171px;
  height: 162px;
  animation: growUpRedSmall 0.3s;
  z-index: 20;
}
@media (min-width: 640px) {
  .red-view .hero-image-small {
    right: 0px;
  }
}
@media (min-width: 768px) {
  .red-view .hero-image-small {
    display: none;
  }
}
.red-view .hero-image-large-container {
  position: relative;
  bottom: 200px;
}
.red-view .hero-image-large-container .hero-image-large {
  position: absolute;
  left: 50%;
  top: 607px;
  z-index: 20;
  display: none;
  width: 522px;
  height: 493px;
  transform: translateX(0%);
}
@media (min-width: 768px) {
  .red-view .hero-image-large-container .hero-image-large {
    display: block;
    animation: growMoveUpLeft 0.8s;
  }
}
.red-view .heading {
  position: absolute;
  right: 148px;
  top: 242px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 74px;
  width: 154px;
  font-size: 30px;
  font-family: "Gilroy-bold";
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0;
  color: black;
  opacity: 1;
  transition: all 300ms ease-in-out;
  z-index: 150;
  white-space: nowrap;
  animation: growUpRedSmall 0.3s;
}
@media (min-width: 640px) {
  .red-view .heading {
    font-size: 36px;
    right: 148px;
  }
}
@media (min-width: 768px) {
  .red-view .heading {
    left: 50%;
    top: 285px;
    height: 196px;
    width: 575px;
    transform: translateX(-80%);
    font-size: 45px;
    line-height: 40px;
  }
}
@media (min-width: 1024px) {
  .red-view .heading {
    top: 250px;
    font-size: 60px;
    line-height: 70px;
  }
}
@media (min-width: 1280px) {
  .red-view .heading {
    top: 220px;
    font-size: 80px;
    line-height: 98px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(100px, 50px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.red-view .product-text {
  position: absolute;
  right: 185px;
  top: 355px;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 46px;
  width: 162px;
  font-size: 19px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0;
  color: white;
  transition: all 300ms ease-in-out;
  animation: growUpRedSmall 0.3s;
}
@media (min-width: 640px) {
  .red-view .product-text {
    right: 203px;
  }
}
@media (min-width: 768px) {
  .red-view .product-text {
    left: 45%;
    top: 384px;
    transform: translateX(-140%);
    font-size: 35px;
    line-height: 55px;
  }
}
@media (min-width: 1280px) {
  .red-view .product-text {
    left: 50%;
    top: 448px;
    transform: translateX(-170%);
    font-size: 45px;
  }
}
.red-view .product-text-item {
  white-space: nowrap;
}
.red-view .compare-button .compare-text {
  position: absolute;
  right: 210px;
  top: 454px;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 46px;
  width: 162px;
  font-size: 19px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0;
  color: white;
  transition: all 300ms ease-in-out;
}
@media (min-width: 640px) {
  .red-view .compare-button .compare-text {
    right: 260px;
  }
}
@media (min-width: 768px) {
  .red-view .compare-button .compare-text {
    left: 45%;
    top: 535px;
    transform: translateX(-150%);
    font-size: 35px;
    line-height: 55px;
  }
}
@media (min-width: 1024px) {
  .red-view .compare-button .compare-text {
    top: 535px;
    transform: translateX(-200%);
  }
}
@media (min-width: 1280px) {
  .red-view .compare-button .compare-text {
    left: 50%;
    top: 635px;
    font-size: 45px;
  }
}
.red-view .compare-button .compare-text-item {
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}
.red-view .compare-button .compare-text-item:hover {
  border-color: white;
}
@keyframes fadeIn {
  from {
    scale: 0.7;
    transform: translate(-100px, -50px);
  }
  to {
    scale: 1;
    transform: translate(0, 0);
  }
}
.red-view .left-arrow-small {
  position: absolute;
  right: 355px;
  top: 505px;
  z-index: 40;
}
@media (min-width: 420px) {
  .red-view .left-arrow-small {
    right: 383px;
  }
}
@media (min-width: 768px) {
  .red-view .left-arrow-small {
    display: none;
  }
}
.red-view .right-arrow-large {
  z-index: 50;
  display: none;
  transform: translateX(700%);
}
@media (min-width: 768px) {
  .red-view .right-arrow-large {
    display: none;
    position: absolute;
    left: 50%;
    top: 600px;
    height: 70px;
    width: 70px;
    transform: translateX(450%);
  }
}
@media (min-width: 1024px) {
  .red-view .right-arrow-large {
    display: block;
    top: 602px;
    transform: translateX(650%);
  }
}
@media (min-width: 1280px) {
  .red-view .right-arrow-large {
    transform: translateX(700%);
  }
}
.red-view .left-arrow-large {
  z-index: 40;
  display: none;
  transform: translateX(-500%);
}
@media (min-width: 768px) {
  .red-view .left-arrow-large {
    display: block;
    position: absolute;
    left: 50%;
    top: 632px;
    width: 70px;
    height: 70px;
    transform: translateX(-500%);
  }
}
@media (min-width: 1024px) {
  .red-view .left-arrow-large {
    top: 612px;
  }
}
@media (min-width: 1280px) {
  .red-view .left-arrow-large {
    transform: translateX(-800%);
  }
}
.red-view .question-box {
  position: absolute;
  right: 50px;
  top: 710px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-size: 13px;
  color: white;
  z-index: 10;
}
@media (min-width: 768px) {
  .red-view .question-box {
    top: 1008px;
    font-size: 30px;
  }
}
@media (min-width: 1280px) {
  .red-view .question-box {
    color: black;
    left: 30px;
    top: 328px;
    display: flex;
  }
}
@media (min-width: 1536px) {
  .red-view .question-box {
    left: 142px;
  }
}
.red-view .question-box .question {
  font-family: "Gilroy-bold";
}
.red-view .question-box .send-message {
  font-family: "Gilroy-light";
}
.red-view .red-circle {
  position: absolute;
  right: -210px;
  top: 191px;
  z-index: 0;
  height: 609px;
  width: 609px;
  background-color: #ff0000;
  border-radius: 50%;
  animation: growUpRedSmall 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 640px) {
  .red-view .red-circle {
    height: 650px;
    width: 650px;
  }
}
@media (min-width: 768px) {
  .red-view .red-circle {
    left: 50%;
    top: 183px;
    height: 1084px;
    width: 1084px;
    transform: translateX(-50%);
    animation: growMoveUpLeft 0.6s;
  }
}
@keyframes growUpRedSmall {
  from {
    scale: 0.8;
  }
  to {
    scale: 1;
  }
}
@keyframes growMoveUpLeft {
  from {
    opacity: 0;
    scale: 0.6;
    transform: translateX(500px) translateY(800px);
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.red-view .price-section {
  position: absolute;
  right: 257px;
  top: 689px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 100px;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0px;
  z-index: 100;
}
@media (min-width: 640px) {
  .red-view .price-section {
    font-size: 22px;
    right: 257px;
  }
}
@media (min-width: 768px) {
  .red-view .price-section {
    left: 50%;
    top: 848px;
    transform: translateX(-250%);
    font-size: 55px;
    line-height: 80px;
  }
}
@media (min-width: 1280px) {
  .red-view .price-section {
    transform: translateX(-350%);
    font-size: 65px;
  }
}
.red-view .price-section .price-item {
  white-space: nowrap;
  animation: fadeInPrice 0.6s ease-in-out;
}
@keyframes fadeInPrice {
  from {
    opacity: 0;
    transform: translateY(200px) translateX(-200px);
  }
  to {
    opacity: 1;
  }
}
.red-view .price-animated-circle {
  position: absolute;
  left: 50%;
  top: 723px;
  height: 376px;
  width: 376px;
  z-index: 10;
  display: none;
}
@media (min-width: 768px) {
  .red-view .price-animated-circle {
    display: block;
    transform: translateX(-103%);
    animation: moveDownMedium 1s;
  }
}
@media (min-width: 1280px) {
  .red-view .price-animated-circle {
    transform: translateX(-130%);
    animation: move 1s;
  }
}
@keyframes moveDownMedium {
  from {
    transform: translateY(-200px) translateX(-103%);
    scale: 1.4;
  }
  to {
    transform: translateY(0) translateX(-103%);
    scale: 1;
  }
}
@keyframes move {
  from {
    transform: translateY(-200px) translateX(-90%);
    scale: 1.8;
  }
  to {
    transform: translateY(0) translateX(-130%);
    scale: 1;
  }
}
.red-view .animated-text-nine {
  font-family: "Gilroy-bold";
  position: absolute;
  display: none;
  height: 51px;
  width: 24px;
  text-align: left;
  font-weight: bold;
  line-height: 51px;
  opacity: 0.22;
}
@media (min-width: 768px) {
  .red-view .animated-text-nine {
    left: 1590px;
    top: 609px;
    display: block;
    font-size: 75px;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
}
@keyframes fadeIn {
  from {
    transform: translateY(50px) translateX(50px);
  }
  to {
    transform: translateY(0) translateX(0);
  }
}
.red-view .price-animated-circle-two {
  position: absolute;
  right: 190px;
  top: 595px;
  z-index: 100;
  display: block;
}
@media (min-width: 768px) {
  .red-view .price-animated-circle-two {
    display: none;
  }
}
.red-view .price-animated-circle-two circle {
  transition: all 0.8s ease-in-out;
}
.red-view .dashed-circle-image-small {
  position: absolute;
  top: 283px;
  right: -170px;
  width: 360px;
  height: 360px;
  opacity: 1;
}
@media (min-width: 768px) {
  .red-view .dashed-circle-image-small {
    display: none;
  }
}
.red-view .dashed-circle-image-big {
  z-index: 10;
  display: none;
}
@media (min-width: 768px) {
  .red-view .dashed-circle-image-big {
    position: absolute;
    left: 50%;
    top: 183px;
    display: block;
    height: 658px;
    width: 658px;
    transform: translateX(3%);
  }
}
@media (min-width: 1280px) {
  .red-view .dashed-circle-image-big {
    transform: translateX(20%);
  }
}/*# sourceMappingURL=redView.css.map */