.red-view {
  display: none;
  font-family: 'Girloy-bold', sans-serif;

  .hero-image-small {
    position: absolute;
    right: 0px;
    top: 420px;
    width: 171px;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    animation: growUpRedSmall 0.3s;
    z-index: 20;

    @media (min-width: 640px) {
      right: 0px;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  .hero-image-large-container {
    position: relative;
    bottom: 200px;

    .hero-image-large {
      position: absolute;
      left: 47%;
      top: 480px;
      z-index: 20;
      display: none;
      height: auto;
      transform: translateX(0%);

      @media (min-width: 768px) {
        width: 600px;
        max-height: 600px;
        display: block;
        animation: growMoveUpLeft 0.8s;
      }
      @media (min-width: 1280px) {
        left: 50%;
        top: 500px;
        width: 600px;
        max-height: 600px;
        display: block;
        animation: growMoveUpLeft 0.8s;
      }
      @media (min-width: 1560px) {
        left: 50%;
        top: 480px;
      }
    }
  }

  // ELZAB Zeta Online
  .heading {
    position: absolute;
    right: 148px;
    top: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 74px;
    width: 154px;
    font-size: 30px;
    font-family: 'Gilroy-bold';
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0;
    color: black;
    opacity: 1;
    transition: all 300ms ease-in-out;
    z-index: 150;
    white-space: nowrap;
    animation: growUpLeftRed 1s;

    @media (min-width: 640px) {
      font-size: 36px;
      right: 148px;
    }

    @media (min-width: 768px) {
      animation: growUpLeftRedLarge 1s;
      left: 50%;
      top: 285px;
      height: 196px;
      width: 575px;
      transform: translateX(-80%);
      font-size: 45px;
      line-height: 40px;
    }

    @media (min-width: 1024px) {
      top: 250px;
      font-size: 60px;
      line-height: 70px;
    }

    @media (min-width: 1280px) {
      top: 220px;
      font-size: 80px;
      line-height: 98px;
    }
    @keyframes growUpLeftRed {
      from {
        opacity: 0;
        transform: translate(200px, 100px);
      }
      to {
        opacity: 1;
        transform: translate(0px, 0px);
      }
    }
    @keyframes growUpLeftRedLarge {
      from {
        opacity: 0;
        transform: translate(100px, 200px);
      }
      to {
        opacity: 1;
        transform: translate(-80%, 0px);
      }
    }
  }

  .product-text {
    cursor: pointer;
    position: absolute;
    right: 185px;
    top: 355px;
    z-index: 30;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 46px;
    width: auto;
    font-size: 19px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0;
    color: white;
    transition: all 300ms ease-in-out;
    animation: growUpRedSmall 1s;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      background-color: white;
      width: 0;
      top: 52px;
      left: 50%;
      transition: width 0.5s ease, left 0.5s ease, right 0.5s ease;
      @media (min-width: 768px) {
        top: 105px;
      }
      @media (min-width: 1280px) {
        top: 110px;
      }
    }

    &::before {
      transform: translateY(-50%);
    }

    &::after {
      transform: translateY(-50%);
    }

    &:hover {
      &::before,
      &::after {
        width: 40%;
      }

      &::before {
        left: 10%;
      }

      &::after {
        right: 0;
      }
    }

    @media (min-width: 640px) {
      animation: growUpLeftRed 1s;
      right: 203px;
    }

    @media (min-width: 768px) {
      left: 55%;
      top: 384px;
      transform: translateX(-100%);
      animation: upLeftBig 1s;
      font-size: 35px;
      line-height: 55px;
      z-index: 550;
      width: 350px;
    }

    @media (min-width: 1280px) {
      left: 55%;
      top: 448px;
      transform: translateX(-100%);
      font-size: 45px;
      width: 400px;
    }
    @keyframes upLeftBig {
      from {
        opacity: 0;
        transform: translate(200px, 300px);
      }
      to {
        opacity: 1;
        transform: translate(-100%, 0px);
      }
    }
  }

  .product-text-item {
    white-space: nowrap;
    // cursor: pointer;
    // &:hover {
    //   border-color: white;
    // }
  }

  .compare-button {
    position: absolute;
    top: 454px;
    right: 210px;
    z-index: 30;
    display: flex;
    height: 46px;
    width: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 19px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0;
    color: white;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      background-color: white;
      width: 0;
      top: 22px;
      left: 50%;
      transition: width 0.5s ease, left 0.5s ease, right 0.5s ease;
      @media (min-width: 768px) {
        top: 45px;
      }
      @media (min-width: 1280px) {
        top: 50px;
      }
    }

    &::before {
      transform: translateY(-50%);
    }

    &::after {
      transform: translateY(-50%);
    }

    &:hover {
      &::before,
      &::after {
        width: 50%;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }

    @media (min-width: 640px) {
      right: 260px;
    }

    @media (min-width: 768px) {
      font-size: 35px;
      left: 40%;
      top: 535px;
      line-height: 55px;
      transform: translateX(-100%);
      width: 225px;
    }

    @media (min-width: 1024px) {
      top: 535px;
      width: 225px;
    }

    @media (min-width: 1280px) {
      left: 50%;
      top: 635px;
      font-size: 45px;
      width: 290px;
    }
    @media (min-width: 1536px) {
      left: 45%;
      top: 635px;
      font-size: 45px;
    }

    .compare-text {
      @keyframes fadeIn {
        from {
          scale: 0.2;
          transform: translate(400px, 300px);
        }
        to {
          scale: 1;
          transform: translate(0, 0);
        }
      }

      animation: fadeIn 1s forwards;
    }
  }

  .left-arrow-small {
    position: absolute;
    right: 355px;
    top: 505px;
    z-index: 40;

    @media (min-width: 420px) {
      right: 383px;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  .right-arrow-large {
    z-index: 50;
    display: none;
    transform: translateX(700%);

    @media (min-width: 768px) {
      display: none;
      position: absolute;
      left: 50%;
      top: 600px;
      height: 70px;
      width: 70px;
      transform: translateX(450%);
    }

    @media (min-width: 1024px) {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 6px black solid;
      border-radius: 100%;
      top: 562px;
      transform: translateX(650%);
    }

    @media (min-width: 1280px) {
      transform: translateX(700%);
    }
    :hover {
      color: #ff0000;
      background: black;
    }
    svg {
      rotate: 180deg;
      width: 70px;
      height: 70px;
      border-radius: 100%;
    }
  }

  .left-arrow-large {
    z-index: 40;
    display: none;
    transform: translateX(-500%);

    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      top: 632px;
      width: 70px;
      height: 70px;
      border: 6px black solid;
      border-radius: 100%;
      transform: translateX(-500%);
    }

    @media (min-width: 1280px) {
      top: 562px;
      transform: translateX(-800%);
    }

    :hover {
      color: #ff0000;
      background: black;
    }
    svg {
      width: 70px;
      height: 70px;
      border-radius: 100%;
    }
  }

  .question-box {
    position: absolute;
    right: 50px;
    top: 710px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-size: 13px;
    color: white;
    z-index: 10;

    @media (min-width: 768px) {
      transform: translateX(50%);
      right: 30%;
      top: 1008px;
      font-size: 30px;
    }

    @media (min-width: 1280px) {
      display: flex;
      transform: none;
      left: 10px;
      font-size: 22px;
      top: 328px;
      color: black;
    }

    @media (min-width: 1536px) {
      font-size: 26px;
      display: flex;
      left: 60px;
    }
    @media (min-width: 1700px) {
      font-size: 30px;
      display: flex;
      left: 142px;
    }

    .question {
      font-family: 'Gilroy-bold';
    }

    .send-message {
      font-family: 'Gilroy-light';
    }
  }

  .red-circle {
    position: absolute;
    right: -210px;
    top: 191px;
    z-index: 0;
    height: 609px;
    width: 609px;
    background-color: #ff0000;
    border-radius: 50%;
    animation: growUpRedSmall 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 640px) {
      height: 650px;
      width: 650px;
    }

    @media (min-width: 768px) {
      left: 50%;
      top: 183px;
      height: 1084px;
      width: 1084px;
      transform: translateX(-50%);
      animation: growMoveUpLeft 0.6s;
    }

    @keyframes growUpRedSmall {
      from {
        transform: translate(400px, 300px);
        scale: 0.3;
      }
      to {
        scale: 1;
        transform: translate(0px, 0px);
      }
    }
    @keyframes growMoveUpLeft {
      from {
        opacity: 0;
        scale: 0.6;
        transform: translateX(500px) translateY(800px);
      }
      to {
        opacity: 1;
        scale: 1;
      }
    }
  }
  .price-section {
    position: absolute;
    right: 257px;
    top: 689px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0px;
    z-index: 100;

    @media (min-width: 640px) {
      font-size: 22px;
      right: 257px;
    }

    @media (min-width: 768px) {
      left: 50%;
      top: 848px;
      transform: translateX(-250%);
      font-size: 55px;
      line-height: 80px;
    }

    @media (min-width: 1280px) {
      transform: translateX(-350%);
      font-size: 65px;
    }

    .price-item {
      white-space: nowrap;
      @media (min-width: 768px) {
        font-size: 52px;
      }



      @keyframes fadeInPrice {
        from {
          opacity: 0;
          transform: translateY(200px) translateX(-200px);
        }
        to {
          opacity: 1;
          transform: translateY(0) translateX(0);
        }
      }

      animation: fadeInPrice 0.8s ease-in-out;
    }
  }

  .price-animated-circle {
    position: absolute;
    left: 50%;
    top: 723px;
    height: 376px;
    width: 376px;
    z-index: 10;
    display: none;

    @media (min-width: 768px) {
      display: block;
      transform: translateX(-103%);
      animation: moveDownMedium 1s;
    }

    @media (min-width: 1280px) {
      transform: translateX(-130%);
      animation: move 1s;
    }

    @keyframes moveDownMedium {
      from {
        transform: translateY(-200px) translateX(-103%);
        scale: 1.4;
      }
      to {
        transform: translateY(0) translateX(-103%);
        scale: 1;
      }
    }

    @keyframes move {
      from {
        transform: translateY(-200px) translateX(-90%);
        scale: 1.8;
      }
      to {
        transform: translateY(0) translateX(-130%);
        scale: 1;
      }
    }
  }

  .animated-text-nine {
    font-family: 'Gilroy-bold';
    position: absolute;
    display: none;
    height: 51px;
    width: 24px;
    text-align: left;
    line-height: 51px;
    opacity: 0.22;

    @media (min-width: 768px) {
      left: 1618px;
      top: 609px;
      display: block;
      font-size: 75px;

      animation: slideUpAndLeftRed 1s;
    }
  }
  @keyframes slideUpAndLeftRed {
    from {
      transform: translateX(42px) translateY(70px);
    }
    to {
      transform: translateY(0) translateX(0);
    }
  }

  .price-animated-circle-two {
    position: absolute;
    right: 190px;
    top: 595px;
    z-index: 100;
    display: block;

    @media (min-width: 768px) {
      display: none;
    }

    circle {
      transition: all 0.8s ease-in-out;
    }
  }
  .dashed-circle-image-small {
    position: absolute;
    top: 283px;
    right: -170px;
    width: 360px;
    height: 360px;
    opacity: 1;
    @media (min-width: 768px) {
      display: none;
    }
  }

  .dashed-circle-image-big {
    z-index: 10;
    display: none;

    @media (min-width: 768px) {
      position: absolute;
      left: 50%;
      top: 183px;
      display: block;
      height: 658px;
      width: 658px;
      transform: translateX(3%);
    }

    @media (min-width: 1280px) {
      transform: translateX(20%);
    }
  }
}
