.discount-moving-box {
  margin-top: 24px;
  min-height: 140px;
  display: flex;
  gap: 38px;
  overflow-x: visible;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
}
@media (min-width: 640px) {
  .discount-moving-box {
    min-height: 190px;
    max-width: 436px;
  }
}
@media (min-width: 768px) {
  .discount-moving-box {
    min-height: 220px;
    max-width: 526px;
  }
}
@media (min-width: 1536px) {
  .discount-moving-box {
    min-height: 370px;
    max-width: 992px;
  }
}
.discount-moving-box .discount-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95px;
  height: 151px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1294117647);
  border-radius: 7px;
  opacity: 1;
  flex-shrink: 0;
}
@media (min-width: 640px) {
  .discount-moving-box .discount-card {
    border-radius: 12px;
    width: 120px;
    height: 175px;
  }
}
@media (min-width: 768px) {
  .discount-moving-box .discount-card {
    border-radius: 20px;
    width: 150px;
    height: 205px;
  }
}
@media (min-width: 1536px) {
  .discount-moving-box .discount-card {
    width: 240px;
    height: 331px;
    border-radius: 35px;
  }
}
.discount-moving-box .discount-card__title {
  padding-top: 8px;
  height: 30px;
  color: var(--unnamed-color-000000);
  text-align: center;
  font-size: 6px;
  font-family: "Gilroy-bold";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
@media (min-width: 640px) {
  .discount-moving-box .discount-card__title {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .discount-moving-box .discount-card__title {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .discount-moving-box .discount-card__title {
    font-size: 16px;
  }
}
@media (min-width: 1536px) {
  .discount-moving-box .discount-card__title {
    font-size: 20px;
  }
}
.discount-moving-box .discount-card__image {
  width: 100%;
  height: auto;
  max-height: 151px;
  opacity: 1;
}
@media (min-width: 1536px) {
  .discount-moving-box .discount-card__image {
    max-height: 230px;
  }
}
.discount-moving-box .discount-card .discount-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: -10px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #00a8f0 0% 0% no-repeat padding-box;
  opacity: 1;
}
@media (min-width: 768px) {
  .discount-moving-box .discount-card .discount-box {
    width: 70px;
    height: 70px;
    right: -20px;
    bottom: 20px;
  }
}
@media (min-width: 1536px) {
  .discount-moving-box .discount-card .discount-box {
    width: 100px;
    height: 100px;
  }
}
.discount-moving-box .discount-card .discount-box__price {
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font-size: 10px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  white-space: nowrap;
}
@media (min-width: 1536px) {
  .discount-moving-box .discount-card .discount-box__price {
    font-size: 20px;
  }
}
.discount-moving-box .discount-card .discount-box__sign {
  position: absolute;
  right: -10px;
  bottom: -20px;
  width: 29px;
  height: 29px;
  opacity: 1;
}
@media (min-width: 768px) {
  .discount-moving-box .discount-card .discount-box__sign {
    width: 45px;
    height: 45px;
    right: 0px;
    bottom: -30px;
  }
}
@media (min-width: 1536px) {
  .discount-moving-box .discount-card .discount-box__sign {
    width: 74px;
    height: 74px;
    right: -10px;
    bottom: -50px;
  }
}

.left-arrow {
  display: none;
}
@media (min-width: 1280px) {
  .left-arrow {
    z-index: 200;
    display: block;
    position: absolute;
    left: 50%;
    top: 170px;
    transform: translateX(-350px);
  }
}
@media (min-width: 1536px) {
  .left-arrow {
    top: 210px;
    transform: translateX(-490px);
  }
}
.left-arrow__img {
  width: 70px;
  height: 70px;
}

.right-arrow {
  display: none;
}
@media (min-width: 1280px) {
  .right-arrow {
    display: block;
    position: absolute;
    z-index: 200;
    left: 50%;
    top: 170px;
    transform: translateX(320px);
  }
}
@media (min-width: 1536px) {
  .right-arrow {
    top: 210px;
    transform: translateX(430px);
  }
}
.right-arrow__img {
  width: 70px;
  height: 70px;
}/*# sourceMappingURL=discountCard.css.map */