.discounts-view {
  position: relative;
  margin-top: 726px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 36px;

  &__header {
    font-size: 24px;
    width: 14px;
    height: 17px;
    color: var(--unnamed-color-000000);
    text-align: left;
    font-family: 'Gilroy-bold', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    align-self: flex-start;
  }

  .products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 65px;
    row-gap: 41px;
    margin-top: 35px;
  }

  .catalog-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 49px;
    color: var(--unnamed-color-000000);
    text-align: left;
    font-size: 12px;
    font-family: 'Gilroy-light';
    font-weight: 300;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  // BackGround:
  .discount-animatedBox {
    position: absolute;
    top: 230px;
    left: 367px;
    width: 90px;
    height: 90px;
    opacity: 1;
    z-index: -30;
  }
  .discount-dashed-circle {
    position: absolute;
    top: 195px;
    left: -167px;
    width: 291px;
    height: 291px;
    z-index: -30;
    opacity: 1;
  }
  .discount-blue-circle {
    position: absolute;
    top: 275px;
    left: -56px;
    width: 224px;
    height: 224px;
    background: var(--unnamed-color-00a8f0) 0% 0% no-repeat padding-box;
    background: #00a8f0 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 100%;
    z-index: -40;
  }
  .discount-two {
    position: absolute;
    top: 445px;
    left: 210px;
    width: 11px;
    height: 24px;
    color: var(--unnamed-color-000000);
    text-align: left;
    font-family: 'Gilroy-bold';
    font-size: 24px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.22;
  }
  .discount-dash {
    position: absolute;
    top: 645px;
    left: 25px;
    width: 21px;
    height: 51px;
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal 800 42px/51px Gilroy;
    scale: 2;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.22;
  }
  .discount-azure-bg {
    position: absolute;
    top: 450px;
    left: 120px;
    width: 995px;
    height: 840px;
    transform: matrix(-0.99, 0.14, -0.14, -0.99, 0, 0);
    background: #c4ecfc 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 40%/25%;
    z-index: -60;
  }
  .discount-dashed-circle-two {
    position: absolute;
    top: 770px;
    left: 105px;
    width: 195px;
    height: 195px;
    z-index: -10;
    opacity: 1;
  }
  .dicount-seven {
    position: absolute;
    top: 1060px;
    left: 351px;
    width: 10px;
    height: 24px;
    color: var(--unnamed-color-000000);
    text-align: left;
    font-family: 'Gilroy-bold';

    letter-spacing: 0px;
    color: #000000;
    opacity: 0.22;
  }
  .discount-plus {
    position: absolute;
    top: 1320px;
    left: 394px;
    width: 24px;
    height: 51px;
    /* UI Properties */
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal 800 42px/51px Gilroy;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.22;
  }
  .discount-Box-two {
    position: absolute;
    top: 1240px;
    left: -11px;
    width: 170px;
    height: 170px;
    opacity: 1;
    z-index: -20;
  }
  .discount-azure-bg-two {
    position: absolute;
    top: 1390px;
    left: -630px;
    width: 943px;
    height: 982px;
    transform: matrix(0.12, -0.99, 0.99, 0.12, 0, 0);
    background: #c4ecfc 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 100%;
    z-index: -30;
  }
  .dicount-five {
    position: absolute;
    top: 1610px;
    left: 26px;
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal 800 22px/24px Gilroy;
    font-family: 'Gilroy-bold';
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.22;
  }
  .discount-blue-circle-two {
    position: absolute;
    top: 1640px;
    left: 370px;
    width: 224px;
    height: 224px;
    /* UI Properties */
    background: var(--unnamed-color-00a8f0) 0% 0% no-repeat padding-box;
    background: #00a8f0 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 100%;
    z-index: -40;
  }
  .discount-dashed-circle-three {
    position: absolute;
    top: 1550px;
    left: 260px;
    width: 291px;
    height: 291px;
    z-index: -30;
    opacity: 1;
  }
  .discount-plus-two {
    position: absolute;
    top: 1900px;
    left: 205px;
    width: 24px;
    height: 51px;
    /* UI Properties */
    color: var(--unnamed-color-000000);
    text-align: left;
    font: normal normal 800 42px/51px Gilroy;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.22;
  }
  .discount-Box-three {
    position: absolute;
    top: 2480px;
    left: 140px;
    width: 150px;
    height: 150px;
  }
}
