.left-arrow {
  display: none;
}
@media (min-width: 1280px) {
  .left-arrow {
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 190px;
    transform: translateX(-350px);
    border: 1px solid black;
    border-radius: 100%;
  }
}
@media (min-width: 1536px) {
  .left-arrow {
    border: 5px solid black;
    top: 250px;
    transform: translateX(-490px);
  }
}
.left-arrow :hover {
  color: #c4ecfc;
  background: black;
}
.left-arrow svg {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.right-arrow {
  display: none;
}
@media (min-width: 1280px) {
  .right-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    border: 1px solid black;
    border-radius: 100%;
    left: 50%;
    top: 190px;
    transform: translateX(320px);
  }
}
@media (min-width: 1536px) {
  .right-arrow {
    border: 5px solid black;
    top: 250px;
    transform: translateX(430px);
  }
}
.right-arrow__img {
  width: 70px;
  height: 70px;
}
.right-arrow :hover {
  color: #c4ecfc;
  background: black;
}
.right-arrow svg {
  rotate: 180deg;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.discount-moving-container {
  position: relative;
  margin-top: 50px;
  min-height: 180px;
  display: flex;
  justify-content: flex-start;
  gap: 38px;
  overflow-x: hidden;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
  width: 410px;
}
@media (min-width: 640px) {
  .discount-moving-container {
    width: 800px;
    min-height: 190px;
    max-width: 511px;
  }
}
@media (min-width: 768px) {
  .discount-moving-container {
    width: 100%;
    min-height: 260px;
    max-width: 676px;
  }
}
@media (min-width: 1024px) {
  .discount-moving-container {
    max-width: 556px;
  }
}
@media (min-width: 1536px) {
  .discount-moving-container {
    min-height: 370px;
    max-width: 830px;
  }
}
.discount-moving-container .discount-inner-container {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  z-index: 10;
  padding: 5px;
  gap: 38px;
  pointer-events: auto;
  transform: translateX(0);
  transition: transform 0.3s ease;
  width: 300%;
}
.discount-moving-container .discount-inner-container .discount-card {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95px;
  height: 151px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1294117647);
  background: white;
  border-radius: 7px;
  opacity: 1;
  flex-shrink: 0;
}
@media (min-width: 640px) {
  .discount-moving-container .discount-inner-container .discount-card {
    border-radius: 12px;
    width: 120px;
    height: 175px;
  }
}
@media (min-width: 768px) {
  .discount-moving-container .discount-inner-container .discount-card {
    border-radius: 20px;
    width: 180px;
    height: 245px;
  }
}
@media (min-width: 1024px) {
  .discount-moving-container .discount-inner-container .discount-card {
    border-radius: 20px;
    width: 150px;
    height: 205px;
  }
}
@media (min-width: 1536px) {
  .discount-moving-container .discount-inner-container .discount-card {
    width: 240px;
    height: 331px;
    border-radius: 35px;
  }
}
.discount-moving-container .discount-inner-container .discount-card__title {
  padding-top: 8px;
  height: 30px;
  color: var(--unnamed-color-000000);
  text-align: center;
  font-size: 6px;
  font-family: "Gilroy-bold";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-inline: 10px;
}
@media (min-width: 640px) {
  .discount-moving-container .discount-inner-container .discount-card__title {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .discount-moving-container .discount-inner-container .discount-card__title {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  .discount-moving-container .discount-inner-container .discount-card__title {
    font-size: 16px;
  }
}
@media (min-width: 1536px) {
  .discount-moving-container .discount-inner-container .discount-card__title {
    font-size: 20px;
  }
}
.discount-moving-container .discount-inner-container .discount-card__image {
  width: 100%;
  height: auto;
  max-height: 151px;
  opacity: 1;
}
@media (min-width: 1536px) {
  .discount-moving-container .discount-inner-container .discount-card__image {
    max-height: 230px;
  }
}
.discount-moving-container .discount-inner-container .discount-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: -10px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #00a8f0 0% 0% no-repeat padding-box;
  opacity: 1;
}
@media (min-width: 768px) {
  .discount-moving-container .discount-inner-container .discount-box {
    width: 70px;
    height: 70px;
    right: -20px;
    bottom: 20px;
  }
}
@media (min-width: 1536px) {
  .discount-moving-container .discount-inner-container .discount-box {
    width: 100px;
    height: 100px;
  }
}
.discount-moving-container .discount-inner-container .discount-box__price {
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font-size: 10px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  white-space: nowrap;
}
@media (min-width: 1536px) {
  .discount-moving-container .discount-inner-container .discount-box__price {
    font-size: 20px;
  }
}
.discount-moving-container .discount-inner-container .discount-box__sign {
  position: absolute;
  right: -10px;
  bottom: -20px;
  width: 29px;
  height: 29px;
  opacity: 1;
}
@media (min-width: 768px) {
  .discount-moving-container .discount-inner-container .discount-box__sign {
    width: 45px;
    height: 45px;
    right: 0px;
    bottom: -30px;
  }
}
@media (min-width: 1536px) {
  .discount-moving-container .discount-inner-container .discount-box__sign {
    width: 74px;
    height: 74px;
    right: -10px;
    bottom: -50px;
  }
}/*# sourceMappingURL=discountCard.css.map */