.discounts-view {
  position: relative;
  margin-top: 726px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 36px;
}
@media (min-width: 768px) {
  .discounts-view {
    margin-top: 1066px;
  }
}
@media (min-width: 1024px) {
  .discounts-view {
    left: 200px;
    margin-top: 1006px;
  }
}
.discounts-view__header {
  font-size: 24px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font-family: "Gilroy-bold", sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .discounts-view__header {
    color: white;
    font-size: 36px;
    align-self: center;
  }
}
@media (min-width: 1024px) {
  .discounts-view__header {
    font-size: 45px;
  }
}
.discounts-view .product-catalog-header {
  display: none;
}
@media (min-width: 768px) {
  .discounts-view .product-catalog-header {
    padding-top: 45px;
    padding-bottom: 52px;
    display: block;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font-family: "Gilroy-bold";
    font-size: 30px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
}
@media (min-width: 1024px) {
  .discounts-view .product-catalog-header {
    padding-top: 25px;
    padding-bottom: 32px;
    font-size: 45px;
  }
}
.discounts-view .products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 65px;
       column-gap: 65px;
  row-gap: 41px;
  margin-top: 35px;
}
@media (min-width: 1536px) {
  .discounts-view .products-container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
  }
}
.discounts-view .catalog-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 49px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font-size: 12px;
  font-family: "Gilroy-light";
  font-weight: 300;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
@media (min-width: 1024px) {
  .discounts-view .catalog-description {
    display: none;
  }
}
.discounts-view .discount-big-box-right {
  position: absolute;
  display: block;
  left: 1280px;
  top: 290px;
  width: 576px;
  height: 579px;
  z-index: -10;
}
.discounts-view .discount-animatedBox {
  position: absolute;
  top: 230px;
  left: 367px;
  width: 90px;
  height: 90px;
  opacity: 1;
  z-index: -30;
}
@media (min-width: 768px) {
  .discounts-view .discount-animatedBox {
    top: 1300px;
    left: -56px;
    width: 578px;
    height: 579px;
  }
}
.discounts-view .discount-dashed-circle {
  position: absolute;
  top: 195px;
  left: -167px;
  width: 291px;
  height: 291px;
  z-index: -30;
  opacity: 1;
}
@media (min-width: 640px) {
  .discounts-view .discount-dashed-circle {
    display: none;
  }
}
.discounts-view .discount-blue-circle {
  position: absolute;
  top: 275px;
  left: -56px;
  width: 224px;
  height: 224px;
  background: var(--unnamed-color-00a8f0) 0% 0% no-repeat padding-box;
  background: #00a8f0 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 100%;
  z-index: -40;
}
@media (min-width: 640px) {
  .discounts-view .discount-blue-circle {
    display: none;
  }
}
.discounts-view .discount-four {
  display: none;
}
@media (min-width: 768px) {
  .discounts-view .discount-four {
    display: block;
    position: absolute;
    top: 300px;
    left: 210px;
    font-family: "Gilroy-bold";
    font-size: 75px;
    opacity: 0.22;
    z-index: -10;
  }
}
@media (min-width: 1280px) {
  .discounts-view .discount-four {
    display: block;
    position: absolute;
    top: 460px;
    left: 410px;
    font-size: 75px;
  }
}
.discounts-view .discount-two {
  position: absolute;
  top: 445px;
  left: 210px;
  width: 11px;
  height: 24px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font-family: "Gilroy-bold";
  font-size: 24px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.22;
}
@media (min-width: 768px) {
  .discounts-view .discount-two {
    font-size: 75px;
    top: 987px;
    left: auto;
    right: 300px;
    z-index: -10;
  }
}
.discounts-view .discount-dash {
  position: absolute;
  top: 645px;
  left: 25px;
  width: 21px;
  height: 51px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal 800 42px/51px Gilroy;
  scale: 2;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.22;
}
.discounts-view .discount-azure-bg {
  position: absolute;
  top: 450px;
  left: 120px;
  width: 995px;
  height: 840px;
  transform: matrix(-0.99, 0.14, -0.14, -0.99, 0, 0);
  background: #c4ecfc 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 40%/25%;
  z-index: -60;
}
@media (min-width: 768px) {
  .discounts-view .discount-azure-bg {
    display: none;
  }
}
.discounts-view .discount-dashed-circle-two {
  position: absolute;
  top: 770px;
  left: 105px;
  width: 195px;
  height: 195px;
  z-index: -10;
  opacity: 1;
}
@media (min-width: 640px) {
  .discounts-view .discount-dashed-circle-two {
    top: 1160px;
    left: auto;
    right: 300px;
    width: 364px;
    height: 364px;
  }
}
.discounts-view .dicount-seven {
  position: absolute;
  top: 1060px;
  left: 351px;
  width: 10px;
  height: 24px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font-family: "Gilroy-bold";
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.22;
}
@media (min-width: 768px) {
  .discounts-view .dicount-seven {
    display: none;
  }
}
.discounts-view .discount-plus {
  position: absolute;
  top: 1320px;
  left: 394px;
  width: 24px;
  height: 51px;
  z-index: -10;
  color: var(--unnamed-color-000000);
  text-align: left;
  font-family: "Gilroy-bold";
  font-size: 42px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.22;
}
@media (min-width: 768px) {
  .discounts-view .discount-plus {
    top: 1350px;
    right: 428px;
    left: auto;
    width: 42px;
    font-size: 75px;
  }
}
.discounts-view .discount-Box-two {
  position: absolute;
  top: 1240px;
  left: -11px;
  width: 170px;
  height: 170px;
  opacity: 1;
  z-index: -20;
}
@media (min-width: 768px) {
  .discounts-view .discount-Box-two {
    top: 2270px;
    left: -310px;
    width: 576px;
    height: 579px;
  }
}
.discounts-view .discount-azure-bg-two {
  position: absolute;
  top: 1390px;
  left: -630px;
  width: 943px;
  height: 982px;
  transform: matrix(0.12, -0.99, 0.99, 0.12, 0, 0);
  background: #c4ecfc 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 100%;
  z-index: -30;
}
@media (min-width: 768px) {
  .discounts-view .discount-azure-bg-two {
    display: none;
  }
}
.discounts-view .dicount-five {
  position: absolute;
  top: 1610px;
  left: 26px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font-family: "Gilroy-bold";
  font-size: 22px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.22;
}
@media (min-width: 768px) {
  .discounts-view .dicount-five {
    display: none;
  }
}
.discounts-view .discount-blue-circle-two {
  position: absolute;
  top: 1640px;
  left: 370px;
  width: 224px;
  height: 224px;
  background: var(--unnamed-color-00a8f0) 0% 0% no-repeat padding-box;
  background: #00a8f0 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 100%;
  z-index: -40;
}
@media (min-width: 768px) {
  .discounts-view .discount-blue-circle-two {
    top: 1780px;
    left: -124px;
    width: 462px;
    height: 462px;
  }
}
.discounts-view .discount-dashed-circle-three {
  position: absolute;
  top: 1550px;
  left: 260px;
  width: 291px;
  height: 291px;
  z-index: -30;
  opacity: 1;
}
@media (min-width: 768px) {
  .discounts-view .discount-dashed-circle-three {
    display: none;
  }
}
.discounts-view .discount-dashed-circle-three-big {
  display: none;
}
@media (min-width: 768px) {
  .discounts-view .discount-dashed-circle-three-big {
    display: block;
    position: absolute;
    top: 1550px;
    left: -350px;
    width: 640px;
    height: 640px;
    z-index: -30;
    opacity: 1;
  }
}
.discounts-view .discount-big-box-two {
  display: none;
}
@media (min-width: 768px) {
  .discounts-view .discount-big-box-two {
    display: block;
    position: absolute;
    top: 1780px;
    left: 1460px;
    width: 578px;
    height: 579px;
    z-index: -10;
  }
}
.discounts-view .dicount-three {
  display: none;
}
@media (min-width: 768px) {
  .discounts-view .dicount-three {
    display: block;
    position: absolute;
    top: 2436px;
    left: 400px;
    width: 41px;
    height: 92px;
    color: var(--unnamed-color-000000);
    text-align: left;
    font-family: "Gilroy-bold";
    font-size: 75px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.22;
  }
}
.discounts-view .discount-plus-two {
  position: absolute;
  top: 1900px;
  left: 205px;
  width: 24px;
  height: 51px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font-family: "Gilroy-bold";
  font-size: 42px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.22;
  z-index: -10;
}
@media (min-width: 768px) {
  .discounts-view .discount-plus-two {
    top: 2480px;
    right: 328px;
    left: auto;
    width: 34px;
    font-size: 75px;
  }
}
.discounts-view .discount-Box-three {
  position: absolute;
  top: 2480px;
  left: 140px;
  width: 150px;
  height: 150px;
}
@media (min-width: 768px) {
  .discounts-view .discount-Box-three {
    display: none;
  }
}/*# sourceMappingURL=discount.css.map */