.iconBoxOne {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  opacity: 0.1;
  @media (min-width: 768px) {
    display: grid;
    max-width: 150px;
    max-height: 150px;
  }
  .icon {
    width: 100%; // Sprawia, że obrazy wypełniają komórki siatki
  }

  .icon1 {
    grid-column: 1;
    grid-row: 1;
  }

  .icon2 {
    grid-column: 3;
    grid-row: 1;
  }

  .icon3 {
    grid-column: 2;
    grid-row: 2;
  }

  .icon4 {
    grid-column: 3;
    grid-row: 3;
  }
}

.animatedContainerOne {
  position: absolute;
  top: 50%;
  left: 50%;
  top: 250px;
  transform: translate(-50%, -50%) translateX(500px); /* Przesunięcie o 300px w prawo */
  display: none; /* Ukryte domyślnie */
  z-index: -20;

  @media (min-width: 768px) {
    display: grid;
  }

  /* Animacja */
  animation: moveInOne 0.7s forwards;

  @keyframes moveInOne {
    from {
      opacity: 1;
      transform: translate(-50%, -50%) translateX(400px) translateY(100px);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) translateX(500px) translateY(0px);
    }
  }
}

// Drugi !!!! --------------------
.iconBoxTwo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  opacity: 0.1;
  height: 135px; // Default height if needed
  width: 135px; // Default width if needed

  @media (min-width: 768px) {
    width: 175px;
    height: 175px;
    display: grid;
  }
  .icon {
    width: 100%; // Ensures icons fill the grid cells
    height: auto; // Maintain aspect ratio of images
  }

  .icon1 {
    grid-column: 3;
    grid-row: 3;
  }

  .icon2 {
    grid-column: 1;
    grid-row: 3;
  }

  .icon3 {
    grid-column: 2;
    grid-row: 2;
  }

  .icon4 {
    grid-column: 3;
    grid-row: 1;
  }
}

.animatedContainerTwo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-500px); // Przesunięcie o 200px w lewo od środka ekranu
  display: none; // Ukryte domyślnie
  z-index: -20;

  @media (min-width: 768px) {
    // md breakpoint
    display: grid;
  }

  /* Animacja */
  animation: moveIn 0.5s forwards;

  @keyframes moveIn {
    from {
      opacity: 1;
      transform: translate(-50%, -50%) translateY(105px) translateX(-700px);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) translateY(-80px) translateX(-500px);
    }
  }
}
.animatedContainerThree {
  position: absolute;
  top: 50%;
  left: 50%;
  top: 1000px;
  transform: translate(-50%, -50%) ; /* Przesunięcie o 300px w prawo */
  display: none; /* Ukryte domyślnie */
  z-index: -20;

  @media (min-width: 768px) {
    display: grid;
  }

  /* Animacja */
  animation: moveInOne 0.7s forwards;

  @keyframes moveInOne {
    from {
      opacity: 1;
      transform: translate(-50%, -50%) translateX(650px) translateY(50px);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) translateX(700px) translateY(0px);
    }
  }
}
