.contact-section {
  position: relative;
  margin-top: 27px;
  padding-inline: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-header {
    font-family: 'Gilroy-bold';
    font-size: 13px;
    align-self: flex-start;
  }
  .contact-custom-border {
    position: absolute;
    left: -36px;
    top: 28px; 
    width: 137px;
    border: 1px solid black;
  }

  @media (min-width: 768px) {
    /* odpowiada md: dla średnich ekranów */
    .custom-div {
      left: -178px;
      top: 64px; /* odpowiada 'top-16' (16 * 4px = 64px) */
      width: 1413px;
      border-width: 3px;
    }
  }

  .information-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
    margin-top: 27px;
    .information-box {
      display: flex;
      align-items: center;
      gap: 12px;

      &__icon {
        width: 100%;
        max-width: 26px;
        max-height: 26px;
      }

      &__description {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .red {
          color: red;
          font-family: 'Gilroy-bold';
          font-weight: 800;
        }
      }
    }
  }

  .map-container {
    margin-top: 39px;
    position: relative;
    display: flex;
    width: 100vw;

    &__image {
      position: relative;
      width: 50%;
      height: 78px;
    }
    .map-logo-background {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 54px;
      height: 54px;
      background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      backdrop-filter: blur(9px);
      -webkit-backdrop-filter: blur(9px);
      border-radius: 100%;
      &__image {
        width: 25px;
        height: 26px;
        /* UI Properties */
        opacity: 1;
      }
    }
  }

  .get-route {
    font-size: 13px;
    font-family: 'Gilroy-bold';
    font-weight: 800;
    width: 90px;
    height: 16px;
    color: var(--unnamed-color-000000);
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  // BackGround:
  .contact-nine {
    position: absolute;
    top: 110px;
    left: 312px;
    width: 24px;
    height: 51px;
    /* UI Properties */
    color: var(--unnamed-color-000000);
    text-align: left;
    font-family: 'Gilroy-bold';
    font-size: 42px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.22;
    z-index: -10;
  }
  .contact-dashed-circle {
    position: absolute;
    top: 220px;
    left: 118px;
    width: 171px;
    height: 171px;
    z-index: -10;
    opacity: 1;
  }
  .contact-blue-circle {
    position: absolute;
    top: 265px;
    left: 180px;
    width: 132px;
    height: 131px;
    border-radius: 100%;
    z-index: -20;
    background: var(--unnamed-color-00a8f0) 0% 0% no-repeat padding-box;
    background: #00a8f0 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  .contact-azure-background-top {
    position: absolute;
    top: -20px;
    left: -95.35246276855469px;
    width: 621px;
    height: 646px;
    transform: matrix(0.12, -0.99, 0.99, 0.12, 0, 0);
    /* UI Properties */
    background: #c4ecfc 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: -40;
    border-radius: 37%;
  }
}
