@charset "UTF-8";
.contact-section {
  position: relative;
  margin-top: 27px;
  padding-inline: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .contact-section {
    padding-inline: 142px;
  }
}
.contact-section .contact-header {
  font-family: "Gilroy-bold";
  font-size: 13px;
  align-self: flex-start;
}
@media (min-width: 768px) {
  .contact-section .contact-header {
    font-size: 28px;
  }
}
@media (min-width: 1024px) {
  .contact-section .contact-header {
    font-size: 45px;
  }
}
.contact-section .contact-custom-border {
  position: absolute;
  left: -36px;
  top: 28px;
  width: 137px;
  border: 1px solid black;
}
@media (min-width: 768px) {
  .contact-section .contact-custom-border {
    top: 38px;
  }
}
@media (min-width: 1024px) {
  .contact-section .contact-custom-border {
    top: 58px;
    border: 2px solid black;
    width: 1013px;
  }
}
@media (min-width: 1536px) {
  .contact-section .contact-custom-border {
    top: 58px;
    border: 2px solid black;
    width: 1413px;
  }
}
@media (min-width: 768px) {
  .contact-section {
    /* odpowiada md: dla średnich ekranów */
  }
  .contact-section .custom-div {
    left: -178px;
    top: 64px; /* odpowiada 'top-16' (16 * 4px = 64px) */
    width: 1413px;
    border-width: 3px;
  }
}
.contact-section .information-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 10px;
  margin-top: 27px;
}
@media (min-width: 1024px) {
  .contact-section .information-container {
    display: none;
  }
}
.contact-section .information-container .information-box {
  display: flex;
  align-items: center;
  gap: 12px;
}
.contact-section .information-container .information-box__icon {
  width: 100%;
  max-width: 26px;
  max-height: 26px;
}
.contact-section .information-container .information-box__description {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.contact-section .information-container .information-box__description .red {
  color: red;
  font-family: "Gilroy-bold";
  font-weight: 800;
}
.contact-section .map-container {
  margin-top: 39px;
  position: relative;
  display: flex;
  width: 100vw;
  max-width: 1950px;
}
@media (min-width: 1024px) {
  .contact-section .map-container {
    margin-top: 7px;
  }
}
.contact-section .map-container__image {
  position: relative;
  width: 50%;
  height: auto;
}
@media (min-width: 1024px) {
  .contact-section .map-container__image {
    display: none;
  }
}
.contact-section .map-container__image-large {
  display: none;
  position: relative;
  width: 50%;
}
@media (min-width: 1024px) {
  .contact-section .map-container__image-large {
    display: block;
    height: auto;
  }
}
.contact-section .map-container .map-logo-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 54px;
  height: 54px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 100%;
}
.contact-section .map-container .map-logo-background__image {
  width: 25px;
  height: 26px;
  opacity: 1;
}
.contact-section .get-route {
  font-size: 13px;
  font-family: "Gilroy-bold";
  font-weight: 800;
  width: 90px;
  height: 16px;
  color: var(--unnamed-color-000000);
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
@media (min-width: 1024px) {
  .contact-section .get-route {
    display: none;
  }
}
.contact-section .information-container-down {
  display: none;
}
@media (min-width: 1024px) {
  .contact-section .information-container-down {
    display: flex;
    padding-top: 15px;
    width: 100%;
    justify-content: space-between;
    gap: 60px;
  }
}
.contact-section .information-container-down .first {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.contact-section .information-container-down .three {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.contact-section .information-container-down .information-box {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.contact-section .information-container-down .information-box-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.contact-section .information-container-down .information-box-right p {
  text-align: end;
}
.contact-section .contact-nine {
  position: absolute;
  top: 110px;
  left: 312px;
  width: 24px;
  height: 51px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font-family: "Gilroy-bold";
  font-size: 42px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.22;
  z-index: -10;
}
.contact-section .contact-dashed-circle {
  position: absolute;
  top: 230px;
  left: 50%;
  width: 171px;
  height: 171px;
  z-index: -10;
  opacity: 1;
  transform: translateX(-100px);
}
@media (min-width: 640px) {
  .contact-section .contact-dashed-circle {
    display: none;
  }
}
.contact-section .contact-blue-circle {
  position: absolute;
  top: 265px;
  left: 50%;
  width: 132px;
  height: 131px;
  border-radius: 100%;
  z-index: -20;
  background: #00a8f0 0% 0% no-repeat padding-box;
  opacity: 1;
  transform: translateX(-35px);
}
@media (min-width: 640px) {
  .contact-section .contact-blue-circle {
    display: none;
  }
}
.contact-section .contact-azure-background-top {
  position: absolute;
  top: -20px;
  left: -95.3524627686px;
  width: 621px;
  height: 646px;
  transform: matrix(0.12, -0.99, 0.99, 0.12, 0, 0);
  background: #c4ecfc 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: -40;
  border-radius: 37% 37% 37% 37%;
}
@media (min-width: 500px) {
  .contact-section .contact-azure-background-top {
    width: 800px;
    height: 800px;
  }
}
@media (min-width: 640px) {
  .contact-section .contact-azure-background-top {
    top: -250px;
    left: 524px;
    border-radius: 37% 37% 37% 37%;
    width: 1500px;
    height: 1000px;
    transform: matrix(-0.99, 0.14, -0.14, -0.99, 0, 0);
  }
}
@media (min-width: 1024px) {
  .contact-section .contact-azure-background-top {
    top: -1200px;
    left: 1224px;
    width: 2390px;
    height: 2471px;
    transform: matrix(-0.99, 0.14, -0.14, -0.99, 0, 0);
  }
}
.contact-section .contact-dashed-circle-two {
  position: absolute;
  width: 368px;
  height: 368px;
  top: -100px;
  right: -100px;
  z-index: -10;
}/*# sourceMappingURL=contact.css.map */