.contact-section {
  position: relative;
  margin-top: 27px;
  padding-inline: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-header {
    font-family: 'Gilroy-bold';
    font-size: 13px;
    align-self: flex-start;
    @media (min-width: 768px) {
      font-size: 28px;
    }
    @media (min-width: 1024px) {
      font-size: 45px;
    }
  }
  .contact-custom-border {
    position: absolute;
    left: -36px;
    top: 28px;
    width: 137px;
    border: 1px solid black;
    @media (min-width: 768px) {
      top: 38px;
    }
    @media (min-width: 1024px) {
      top: 58px;
      border: 2px solid black;
      width: 1013px;
    }
    @media (min-width: 1536px) {
      top: 58px;
      border: 2px solid black;
      width: 1413px;
    }
  }

  @media (min-width: 768px) {
    /* odpowiada md: dla średnich ekranów */
    .custom-div {
      left: -178px;
      top: 64px; /* odpowiada 'top-16' (16 * 4px = 64px) */
      width: 1413px;
      border-width: 3px;
    }
  }

  .information-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
    margin-top: 27px;
    @media (min-width: 1024px) {
      display: none;
    }
    .information-box {
      display: flex;
      align-items: center;
      gap: 12px;

      &__icon {
        width: 100%;
        max-width: 26px;
        max-height: 26px;
      }

      &__description {
        font-size: 10px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .red {
          color: red;
          font-family: 'Gilroy-bold';
          font-weight: 800;
        }
      }
    }
  }

  .map-container {
    margin-top: 39px;
    position: relative;
    display: flex;
    width: 100vw;
    max-width: 1950px;
    @media (min-width: 1024px) {
      margin-top: 7px;
    }

    &__image {
      position: relative;
      width: 50%;
      height: auto;

      @media (min-width: 1024px) {
        display: none;
      }
    }
    &__image-large {
      display: none;
      position: relative;
      width: 50%;
      @media (min-width: 1024px) {
        display: block;
        height: auto;
      }
    }
    .map-logo-background {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 54px;
      height: 54px;
      background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 1;
      backdrop-filter: blur(9px);
      -webkit-backdrop-filter: blur(9px);
      border-radius: 100%;
      &__image {
        width: 25px;
        height: 26px;
        opacity: 1;
      }
    }
  }

  .get-route {
    font-size: 13px;
    font-family: 'Gilroy-bold';
    font-weight: 800;
    width: 90px;
    height: 16px;
    color: var(--unnamed-color-000000);
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    @media (min-width: 1024px) {
      display: none;
    }
  }

  .information-container-down {
    display: none;

    @media (min-width: 1024px) {
      display: flex;
      padding-top: 15px;
      width: 100%;
      justify-content: space-between;
      gap: 60px;
    }

    .first {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }
    .three {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }

    .information-box {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 20px;
    }
    .information-box-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
      p {
        text-align: end;
      }
    }
  }

  // BackGround:
  .contact-nine {
    position: absolute;
    top: 110px;
    left: 312px;
    width: 24px;
    height: 51px;
    color: var(--unnamed-color-000000);
    text-align: left;
    font-family: 'Gilroy-bold';
    font-size: 42px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.22;
    z-index: -10;
  }
  .contact-dashed-circle {
    position: absolute;
    top: 230px;
    left: 50%;
    width: 171px;
    height: 171px;
    z-index: -10;
    opacity: 1;
    transform: translateX(-100px);

    @media (min-width: 640px) {
      display: none;
    }
  }
  .contact-blue-circle {
    position: absolute;
    top: 265px;
    left: 50%;
    width: 132px;
    height: 131px;
    border-radius: 100%;
    z-index: -20;
    background: #00a8f0 0% 0% no-repeat padding-box;
    opacity: 1;
    transform: translateX(-35px);

    @media (min-width: 640px) {
      display: none;
    }
  }
  .contact-azure-background-top {
    position: absolute;
    top: -20px;
    left: -95.35246276855469px;
    width: 621px;
    height: 646px;
    transform: matrix(0.12, -0.99, 0.99, 0.12, 0, 0);
    background: #c4ecfc 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: -40;
    border-radius: 37%;
    @media (min-width: 500px) {
      width: 800px;
      height: 800px;
    }

    @media (min-width: 640px) {
      top: -500px;
      left: 524px;
      width: 1500px;
      height: 1500px;
      transform: matrix(-0.99, 0.14, -0.14, -0.99, 0, 0);
    }

    @media (min-width: 1024px) {
      top: -1200px;
      left: 1224px;
      width: 2390px;
      height: 2471px;
      transform: matrix(-0.99, 0.14, -0.14, -0.99, 0, 0);
    }
  }
}
