.social-buttons-container {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 210;

  @media (min-width: 1024px) {
    display: flex;
    top: 434px;
  }

  @media (min-width: 1280px) {
    display: flex;
    left: 10px;
  }

  @media (min-width: 1536px) {
    left: 60px;
  }
  @media (min-width: 1700px) {
    left: 142px;
  }
}

.social-button {
  display: flex;
  height: 45px;
  width: 45px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 0;
  background-color: transparent;

  .social-icon {
    color: lightblue;
  }
}
