.iconBoxOne {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  opacity: 0.1;
}
.iconBoxOne .icon {
  width: 100%;
}
.iconBoxOne .icon1 {
  grid-column: 1;
  grid-row: 1;
}
.iconBoxOne .icon2 {
  grid-column: 3;
  grid-row: 1;
}
.iconBoxOne .icon3 {
  grid-column: 2;
  grid-row: 2;
}
.iconBoxOne .icon4 {
  grid-column: 3;
  grid-row: 3;
}

.iconBoxTwo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  opacity: 0.1;
}
.iconBoxTwo .icon {
  width: 100%;
  height: auto;
}
.iconBoxTwo .icon1 {
  grid-column: 3;
  grid-row: 3;
}
.iconBoxTwo .icon2 {
  grid-column: 1;
  grid-row: 3;
}
.iconBoxTwo .icon3 {
  grid-column: 2;
  grid-row: 2;
}
.iconBoxTwo .icon4 {
  grid-column: 3;
  grid-row: 1;
}

.animatedBoxOne {
  position: absolute;
  top: 157px;
  left: 305px;
  width: 59px;
  z-index: 250;
}
@media (min-width: 768px) {
  .animatedBoxOne {
    display: block;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    top: 250px;
    transform: translate(-50%, -50%) translateX(500px);
    display: grid;
    animation: moveOneUpRight 1s forwards;
  }
}
@keyframes moveOneUpRight {
  from {
    transform: translate(-50%, -50%) translateX(500px) translateY(100px);
  }
  to {
    transform: translate(-50%, -50%) translateX(700px) translateY(0px);
  }
}

.animatedContainerOneRed {
  position: absolute;
  top: 157px;
  left: 305px;
  width: 59px;
  z-index: 250;
}
@media (min-width: 768px) {
  .animatedContainerOneRed {
    display: block;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    top: 250px;
    transform: translate(-50%, -50%) translateX(500px) translateY(100px);
    display: grid;
    animation: moveOneUpRightRed 1s forwards;
  }
}
@keyframes moveOneUpRightRed {
  from {
    transform: translate(-50%, -50%) translateX(700px) translateY(0px);
  }
  to {
    transform: transslate(-50%, -50%) translateX(500px) translateY(100px);
  }
}

.animatedContainerTwo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-500px);
  display: none;
  z-index: -20;
}
@media (min-width: 768px) {
  .animatedContainerTwo {
    display: block;
    top: 324px;
    width: 174px;
    height: 175px;
    animation: moveTwoLeftUp 1s forwards;
  }
}
@keyframes moveTwoLeftUp {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) translateX(-570px) translateY(150px);
  }
  to {
    transform: translate(-50%, -50%) translateX(-400px) translateY(-80px);
    opacity: 1;
  }
}

.animatedContainerTwoRed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-500px);
  display: none;
  z-index: -10;
}
@media (min-width: 768px) {
  .animatedContainerTwoRed {
    display: block;
    top: 324px;
    width: 174px;
    height: 175px;
    animation: moveTwoLeftUpRed 1s forwards;
  }
}
@keyframes moveTwoLeftUpRed {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) translateX(-400px) translateY(-80px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) translateX(-570px) translateY(150px);
  }
}

.animatedContainerThree {
  position: absolute;
  top: 50%;
  left: 50%;
  top: 1000px;
  transform: translate(-50%, -50%);
  display: none;
  z-index: -20;
  animation: moveThreeDownLeft 1s forwards;
}
@media (min-width: 768px) {
  .animatedContainerThree {
    width: 136px;
    height: 136px;
    display: grid;
  }
}
@keyframes moveThreeDownLeft {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) translateX(750px) translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) translateX(650px) translateY(0px);
  }
}

.animatedContainerThreeRed {
  position: absolute;
  top: 50%;
  left: 50%;
  top: 1000px;
  transform: translate(-50%, -50%);
  display: none;
  z-index: -20;
  animation: moveThreeDownLeftRed 1s forwards;
}
@media (min-width: 768px) {
  .animatedContainerThreeRed {
    display: block;
    width: 136px;
    height: 136px;
  }
}
@keyframes moveThreeDownLeftRed {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) translateX(650px) translateY(0px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) translateX(750px) translateY(-50px);
  }
}

.animatedContainerFourBig {
  display: none;
}
@media (min-width: 768px) {
  .animatedContainerFourBig {
    display: block;
    position: absolute;
    top: 779px;
    left: -260px;
    width: 579px;
    height: 579px;
    z-index: -30;
    animation: boxFourAnimation 1s forwards;
  }
}
@keyframes boxFourAnimation {
  from {
    transform: translate(-50px, -100px);
  }
  to {
    transform: translate(0, 0);
  }
}

.animatedContainerFourBigRed {
  display: none;
}
@media (min-width: 768px) {
  .animatedContainerFourBigRed {
    display: block;
    position: absolute;
    top: 679px;
    left: -310px;
    width: 579px;
    height: 579px;
    z-index: -10;
    animation: boxFourAnimationRed 1s forwards;
  }
}
@keyframes boxFourAnimationRed {
  from {
    transform: translate(50px, 100px);
  }
  to {
    transform: translate(0, 0);
  }
}

.background-letter-x {
  position: absolute;
  top: 73px;
  left: 166px;
  font-size: 40px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font-family: "Gilroy-bold";
  font-weight: bolder;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.22;
}
@media (min-width: 1280px) {
  .background-letter-x {
    top: 160px;
    left: 102px;
    font-size: 48px;
  }
}
@media (min-width: 1536px) {
  .background-letter-x {
    top: 212px;
    left: 142px;
    font-size: 75px;
  }
}

.background-dash {
  position: absolute;
  top: 770px;
  left: 36px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font-family: "Gilroy-normal";
  font-size: 42px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.22;
  scale: 1;
}
@media (min-width: 768px) {
  .background-dash {
    font-size: 75px;
    top: 1212px;
    left: 50%;
    transform: translateX(700px) translateY(-50%);
    animation: dashBlueAnimate 1s;
  }
}
@keyframes dashBlueAnimate {
  from {
    transform: translateX(600px) translateY(-100px);
    opacity: 0.2;
  }
  to {
    opacity: 0.22;
    transform: translateX(700px) translateY(-50%);
  }
}

.background-dash-red {
  position: absolute;
  top: 770px;
  left: 36px;
  color: var(--unnamed-color-000000);
  text-align: left;
  font-family: "Gilroy-normal";
  font-size: 42px;
  letter-spacing: 0px;
  transform: translateX(600px) translateY(-100px);
  color: #000000;
  opacity: 0.22;
  scale: 1;
}
@media (min-width: 768px) {
  .background-dash-red {
    font-size: 75px;
    top: 1212px;
    left: 50%;
    animation: dashBlueAnimateRed 1s;
  }
}
@keyframes dashBlueAnimateRed {
  from {
    transform: translateX(700px) translateY(-50%);
    opacity: 0.2;
  }
  to {
    transform: translateX(600px) translateY(-100px);
    opacity: 0.22;
  }
}/*# sourceMappingURL=background.css.map */