.product-view {
  display: block;

  .animated-circle {
    display: none;

    @media (min-width: 768px) {
      // md breakpoint
      position: absolute;
      left: 60%;
      top: 212px;
      display: block;
      width: 640px;
      height: 640px;
      transform: translateX(-104%);
    }

    @media (min-width: 1280px) {
      // xl breakpoint
      left: 50%;
    }

    @keyframes growUp {
      from {
        scale: 0.7;
      }
      to {
        scale: 1;
      }
    }
    animation: growUp 0.6s;
  }

  .dashed-circle-small {
    position: absolute;
    top: 150px;
    left: -103px;
    z-index: 10;
    width: 313px;
    height: 314px;
    border-radius: 50%;

    @media (min-width: 640px) {
      // sm breakpoint
      left: -23px;
    }

    @media (min-width: 768px) {
      // md breakpoint
      display: none;
    }
  }

  .white-circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 236px;
    z-index: 20;
    left: -31px;
    width: 219px;
    height: 219px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 100%;

    @media (min-width: 640px) {
      left: 50px;
    }

    @media (min-width: 768px) {
      width: 372px;
      height: 372px;
      transform: translateX(-50%);
      left: 30%;
      top: 400px;
    }

    @media (min-width: 1024px) {
      transform: translateX(-50%);
      left: 30%;
      width: 372px;
      height: 372px;
    }

    img {
      width: 160px;
      height: 160px;
      @media (min-width: 768px) {
        width: 300px;
        height: 300px;
      }
    }
  }
  .white-circle.expand {
    width: 640px;
    height: 640px;
    top: 212px;
    left: 60%;
    transform: translateX(-104%);
    transition: all 0.6s ease;

    @media (min-width: 1280px) {
      left: 50%;
    }
    img {
      transition: width 1s ease, height 1s ease;
      width: 450px;
      height: 450px;
    }
  }

  .white-circle.expand-small {
    width: 313px;
    height: 314px;
    top: 150px;
    left: -103px;
    transform: none;
    transition: all 0.6s ease;
  }

  @media (min-width: 640px) {
    .white-circle.expand-small {
      left: -23px;
    }
  }

  .back-to-hero {
    position: absolute;
    top: 193px;
    left: 36px;
    font-family: 'Gilroy-bold';
    font-size: 11px;
    color: white;
    z-index: 10;
    @media (min-width: 640px) {
      font-size: 12px;
      left: 150px;
    }
    @media (min-width: 768px) {
      font-size: 16px;
      transform: translateX(-50%);
      top: 300px;
      left: 30%;
    }
    @media (min-width: 1024px) {
      font-size: 20px;
      top: 323px;
    }
    @media (min-width: 1536px) {
      left: 36%;
    }
  }

  .product-info-description {
    position: absolute;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    top: 260px;
    left: 215px;

    @media (min-width: 640px) {
      left: 300px;
      top: 250px;
    }
    @media (min-width: 768px) {
      font-size: 32px;
      transform: translateX(-50%);
      left: 79%;
      top: 350px;
    }
    @media (min-width: 1024px) {
      transform: translateX(-50%);
      left: 74%;
      top: 400px;
    }
    @media (min-width: 1280px) {
      left: 67%;
      font-size: 35px;
    }

    .hero-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      font-size: 18px;
      font-family: 'Gilroy-bold', sans-serif;
      letter-spacing: 0px;
      color: #000000;
      opacity: 1;
      max-width: 220px;

      @media (min-width: 640px) {
        max-width: 300px;
        font-size: 22px;
      }
      @media (min-width: 768px) {
        font-size: 32px;
      }
      @media (min-width: 1024px) {
        max-width: 450px;
      }
      @media (min-width: 1280px) {
        font-size: 35px;
      }
    }
    .price-box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: 'Gilroy-bold', sans-serif;
      font-size: 12px;
      color: white;

      @media (min-width: 640px) {
        font-size: 14px;
      }
      @media (min-width: 768px) {
        font-size: 20px;
      }
      @media (min-width: 1024px) {
      }
      @media (min-width: 1280px) {
      }
      @media (min-width: 1536px) {
      }

      .hero-price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        &__sub-one {
          flex-wrap: nowrap;
        }
        &__sub-two {
          flex-wrap: nowrap;
          font-family: 'Gilroy-light';
        }
      }
      .hero-producer {
        padding-top: 10px;
        @media (min-width: 640px) {
          padding-top: 20px;
        }
      }
      .addition-avilabe {
        // padding-top: 20px;
        font-family: 'Gilroy-light';
      }
      .addition-avilabe-box {
        padding-top: 6px;
        display: flex;
        gap: 10px;

        .addition-image-bacground {
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
          border-radius: 100%;
          width: 37px;

          @media (min-width: 640px) {
            width: 42px;
            height: 42px;
          }
          @media (min-width: 768px) {
            width: 52px;
            height: 52px;
          }
          @media (min-width: 1024px) {
            width: 63px;
            height: 63px;
          }

          .addition-image {
            width: 29px;
            height: auto;
            rotate: 35deg;
            opacity: 1;
            @media (min-width: 640px) {
              width: 38px;
            }
            @media (min-width: 768px) {
              width: 46px;
            }
            @media (min-width: 1024px) {
              width: 61px;
              height: auto;
            }
          }
        }
      }
    }
  }

  .hero-description {
    position: absolute;
    top: 500px;
    left: 11px;
    width: 358px;
    height: 224px;
    color: white;
    font-size: 12px;
    font-family: 'Gilroy-light';
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (min-width: 640px) {
      top: 550px;
      width: 500px;
    }
    @media (min-width: 768px) {
      font-size: 14px;
      transform: translateX(-50%);
      left: 50%;
      top: 850px;
      width: 700px;
    }

    @media (min-width: 1024px) {
      transform: translateX(-50%);
      left: 50%;
      top: 850px;
      width: 899px;
      height: 23px;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
    }
    @media (min-width: 1280px) {
      font-size: 20px;
    }

    span {
      font-family: 'Gilroy-bold', sans-serif;
      font-weight: bold;
      margin-right: 5px;
    }
  }

  .price-circle {
    display: none;
    position: absolute;
    left: 207px;
    top: 597px;
    height: 245px;
    width: 245px;

    @media (min-width: 640px) {
      left: 300px;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }

  .large-price-circle {
    position: absolute;
    display: none;
    left: 50%;
    top: 787px;
    height: 376px;
    width: 376px;
    transform: translateX(3%);
    animation: moveDown 1s;

    @media (min-width: 768px) {
      display: block;
      z-index: -10;
    }
    @media (min-width: 1280px) {
      transform: translateX(57%);
      animation: moveDownLarge 1s;
    }
    @keyframes moveDown {
      from {
        transform: translate(3%, -300px);
      }
      to {
        transform: translate(3%, 0);
      }
    }
    @keyframes moveDownLarge {
      from {
        transform: translate(57%, -300px);
      }
      to {
        transform: translate(57%, 0);
      }
    }
  }

  .question-info {
    position: absolute;
    top: 707px;
    left: 37px;
    display: none;
    flex-direction: column;
    gap: 1px;
    text-align: left;
    font-size: 13px;
    color: white;
    z-index: 20;

    @media (min-width: 1024px) {
      display: flex;
      left: 0px;
      top: 328px;
      font-size: 22px;
      color: black;
    }

    @media (min-width: 1280px) {
      display: flex;
      left: 10px;
      top: 328px;
      font-size: 30px;
      color: black;
    }

    @media (min-width: 1536px) {
      display: flex;
      left: 60px;
    }
    @media (min-width: 1700px) {
      display: flex;
      left: 142px;
    }

    &__title {
      font-family: 'Gilroy-bold';
    }

    &__message {
      font-family: 'Gilroy-light';
    }
  }

  .blue-circle {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00aaff;
    left: -200px;
    top: 180px;
    z-index: -10;
    height: 609px;
    width: 609px;
    animation: growUpBlueSmall 0.3s;

    @media (min-width: 640px) {
      left: -100px;
      height: 650px;
      width: 650px;
    }

    @media (min-width: 768px) {
      left: 50%;
      top: 183px;
      height: 1084px;
      width: 1084px;
      transform: translateX(-50%);
      animation: growMoveUpRight 0.6s;
    }
    @keyframes growUpBlueSmall {
      from {
        scale: 0.8;
      }
      to {
        scale: 1;
      }
    }
    @keyframes growMoveUpRight {
      from {
        scale: 0.6;
        transform: translateX(-1500px) translateY(500px);
      }
      to {
        scale: 1;
      }
    }
  }

  .background-number-nine {
    position: absolute;
    display: none; /* Domyślnie ukryte */
    height: 51px; /* h-[51px] */
    width: 24px; /* w-[24px] */
    text-align: left; /* text-left */
    font-weight: 800; /* font-extrabold */
    line-height: 51px; /* leading-[51px] */
    opacity: 0.22;
    transition: all 1.5s ease; /* Czas i rodzaj animacji */

    @media (min-width: 768px) {
      display: block;
      left: 1660px;
      top: 679px;
      font-size: 75px;
      animation: slideUpAndLeft 1s;
    }
  }

  /* Definicja animacji */
  @keyframes slideUpAndLeft {
    from {
      transform: translate(-100px, -100px);
    }
    to {
      transform: translate(0, 0);
      opacity: 0.22;
    }
  }

  .icon-box-container {
    position: absolute;
    left: 307px;
    top: 157px;

    @media (min-width: 640px) {
      left: 430px;
    }

    @media (min-width: 768px) {
      left: 1398px;
      top: 183px;
    }
  }

  .icon-box2-container {
    position: absolute;
    left: 435px;
    top: 189px;

    @media (min-width: 768px) {
      display: grid;
    }
  }

  .icon-box2-container-md {
    position: absolute;
    left: 1502px;
    top: 932px;

    @media (min-width: 768px) {
      display: grid;
    }
  }

  .icon-box2-container-xl {
    position: absolute;
    left: -262.4px;
    top: 779px;

    @media (min-width: 768px) {
      display: grid;
    }
  }

  .custom-border-background-small-up {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #c4ecfc;
    width: 100%;
    height: 300px;
    z-index: -70;
    @media (min-width: 768px) {
      display: none;
    }
  }
  .custom-border-background-small {
    position: absolute;
    top: -154.0400390625px;
    left: -461.29705810546875px;
    width: 1007px;
    height: 1052px;
    background-color: #c4ecfc;
    border-radius: 50% 50% 50% 50% / 45% 45% 55% 55%;
    z-index: -40;
    @media (min-width: 540px) {
      left: -370px;
    }
    @media (min-width: 640px) {
      left: -240px;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
  .custom-azure-background-big-up {
    display: none;

    @media (min-width: 768px) {
      display: block;
      position: absolute;
      background-color: #c4ecfc;
      z-index: -40;
      top: 0px;
      left: 0;
      width: 100%;
      height: 800px;
    }
  }

  .custom-azure-background-big {
    display: none;
    @media (min-width: 768px) {
      display: block;
      position: absolute;
      top: -309.81005859375px;
      left: -87.23750305175781px;
      width: 2105px;
      height: 2200px;
      background: #c4ecfc 0% 0% no-repeat padding-box;
      border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
      opacity: 1;
      z-index: -140;
    }
  }
}

.fancybox__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 100%;

  .fancybox__backdrop {
    background-color: white !important;
  }
}

.fancybox__content {
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  img {
    width: 100%;
    backdrop-filter: none;
    box-shadow: 0 0 white !important;
  }
}
.fancybox__track {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 640px) {
    width: 600px;
  }
  @media (min-width: 768px) {
    width: 700px;
  }
  @media (min-width: 1024px) {
    width: 1000px;
  }
}

.fancybox__slide {
  height: 400px;
  border: 6px solid #fff;
  border-radius: 15px;
  box-shadow: 0 0 white !important;

  @media (min-width: 640px) {
    height: 500px;
    width: 600px;
  }
  @media (min-width: 768px) {
    height: 600px;
    width: 700px;
  }
  @media (min-width: 1024px) {
    height: 700px;
    min-width: 1000px;
  }
}
