.product-info-view {
  padding-top: 750px;
  padding-inline: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 12px;
  font-family: 'Gilroy-normal';

  @media (min-width: 768px) {
    padding-top: 1060px;
  }
  @media (min-width: 1024px) {
    font-size: 16px;
    margin-left: 400px;
    max-width: 808px;
    padding-top: 1230px;
  }
  @media (min-width: 1280px) {
    font-size: 20px;
    margin-left: 450px;
  }
  @media (min-width: 1536px) {
    margin-left: 464px;
    max-width: 50%;
  }
  @media (min-width: 1636px) {
    margin-left: 570px;
    max-width: 50%;
  }

  h2{
    font-size: 20px;
    font-family: 'Gilroy-bold';
    margin-bottom: 20px;
    @media (min-width: 1024px) {
      white-space: nowrap;
      font-size: 28px;
    }
    @media (min-width: 1280px) {
      font-size: 32px;
    }
  }

  a {
    color: #00aaff;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  ul {
    font-size: 20px;
    font-family: 'Gilroy-bold';
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    padding-bottom: 15px;
    @media (min-width: 1024px) {
      padding-bottom: 28px;
    }

    li {
      display: list-item;
      font-size: 12px;
      font-family: 'Gilroy-normal';
      @media (min-width: 1024px) {
        font-size: 16px;
      }
      @media (min-width: 1280px) {
        font-size: 20px;
      }
    }
  }
  .destiny-information {
    text-indent: 20px;
    padding-bottom: 11px;
    padding-right: 36px;
    font-size: 12px;
    font-family: 'Gilroy-normal';
    @media (min-width: 1024px) {
      font-size: 16px;
      margin-bottom: 50px;
    }
    @media (min-width: 1280px) {
      font-size: 20px;
      margin-bottom: 80px;
    }
    @media (min-width: 1536px) {
      margin-bottom: 50px;
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------------

.detail-info-view {
  padding-top: 30px;
  padding-inline: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 768px) {
    padding-top: 30px;
  }
  @media (min-width: 1024px) {
    margin-left: 400px;
    max-width: 808px;
    padding-top: 30px;
  }
  @media (min-width: 1280px) {
    margin-left: 450px;
  }
  @media (min-width: 1536px) {
    margin-left: 464px;
    max-width: 50%;
  }
  @media (min-width: 1636px) {
    margin-left: 570px;
    max-width: 50%;
  }

  .product-detail-header {
    position: relative;
    padding-bottom: 6px;
    color: var(--unnamed-color-000000);
    text-align: left;
    font-family: 'Gilroy-bold';
    font-size: 20px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    @media (min-width: 1024px) {
      font-size: 32px;
      // padding-bottom: 51px;
    }
  }

  .product-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    background-color: #ffffff2f;
    backdrop-filter: blur(41px);

    .spec-item {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-inline: 6px;
      padding-top: 9px;
      padding-bottom: 9px;
      border-bottom: 1px solid black;
      font-family: 'Gilrot-bold', sans-serif;
      font-size: 11px;
      @media (min-width: 1024px) {
        font-size: 20px;
      }

      &__value {
        text-align: end;
        max-width: 50%;
      }
      &__item {
        max-width: 50%;
      }
    }
  }
  .catalog-description {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 49px;
    color: var(--unnamed-color-000000);
    text-align: left;
    font-size: 12px;
    font-family: 'Gilroy-light';
    font-weight: 300;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

    padding-inline: 32px;

    @media (min-width: 640px) {
      max-width: none;
    }
    @media (min-width: 1024px) {
      display: none;
    }
  }

  // Baclground:

  .details-blue-circle {
    position: absolute;
    left: -56px;
    top: 1120px;
    z-index: -10;
    width: 224px;
    height: 224px;
    border-radius: 100%;
    background: var(--unnamed-color-00a8f0) 0% 0% no-repeat padding-box;
    background: #00a8f0 0% 0% no-repeat padding-box;
    opacity: 1;

    @media (min-width: 768px) {
      top: 1700px;
    }

    @media (min-width: 1024px) {
      top: 2800px;
      left: 64px;
      width: 492px;
      height: 492px;
    }
  }

  .details-azure-bg {
    position: absolute;
    top: 1350px;
    border-radius: 37%;
    z-index: -10;
    width: 995px;
    height: 957px;
    transform: matrix(-0.99, 0.14, -0.14, -0.99, 0, 0);
    background: #c4ecfc 0% 0% no-repeat padding-box;
    opacity: 1;
    @media (min-width: 768px) {
      display: none;
    }
  }

  .details-big-box {
    position: absolute;
    top: 2390px;
    left: 142px;
    width: 578px;
    height: 579px;
    z-index: -10;
  }
  .details-one {
    display: none;
    @media (min-width: 1024px) {
      display: block;
      position: absolute;
      font-size: 75px;
      opacity: 0.22;
      font-family: 'Gilroy-bold';
      top: 2700px;
      left: 64px;
      width: 492px;
      height: 492px;
    }
  }
  .details-dashed-circle {
    display: none;
    @media (min-width: 1024px) {
      display: block;
      position: absolute;
      z-index: -10;
      top: 2600px;
      left: -181px;
      width: 640px;
      height: 640px;
      opacity: 1;
    }
  }
}
