@charset "UTF-8";
.blue-view {
  display: block;
  /* Definicja animacji */
}
.blue-view .customHeroImage {
  position: absolute;
  top: 280px;
  left: -90px;
  width: 404px;
  height: 404px;
  transform: rotate(30deg);
  animation: growUpBlueSmall 0.3s;
}
@media (min-width: 640px) {
  .blue-view .customHeroImage {
    left: -20px;
  }
}
@media (min-width: 768px) {
  .blue-view .customHeroImage {
    display: none;
  }
}
.blue-view .hero-image-large-container {
  position: relative;
  bottom: 80px;
}
.blue-view .hero-image-large-container .hero-image-large {
  position: absolute;
  left: 50%;
  top: 80px;
  height: 900px;
  width: 900px;
  transform: translateX(-72%) rotate(20deg);
  z-index: 10;
  display: none;
  animation: moveUpRight 1s;
}
@media (min-width: 768px) {
  .blue-view .hero-image-large-container .hero-image-large {
    display: block;
  }
}
@media (min-width: 1280px) {
  .blue-view .hero-image-large-container .hero-image-large {
    top: -20px;
    height: 1300px;
    width: 1300px;
  }
}
@keyframes moveUpRight {
  from {
    transform: translateX(-1100px) translateY(500px) rotate(20deg);
  }
  to {
    transform: translateX(-72%) translateY(0px) rotate(20deg);
  }
}
.blue-view .animated-circle {
  display: none;
  animation: growUp 0.6s;
}
@media (min-width: 768px) {
  .blue-view .animated-circle {
    position: absolute;
    left: 60%;
    top: 212px;
    display: block;
    width: 640px;
    height: 640px;
    transform: translateX(-104%);
  }
}
@media (min-width: 1280px) {
  .blue-view .animated-circle {
    left: 50%;
  }
}
@keyframes growUp {
  from {
    scale: 0.7;
  }
  to {
    scale: 1;
  }
}
.blue-view .dashed-circle-container {
  position: absolute;
  z-index: 10;
  height: 359px;
  width: 359px;
  top: 262px;
  left: -133px;
  border: 2px dashed #000000;
  border-radius: 50%;
}
@media (min-width: 640px) {
  .blue-view .dashed-circle-container {
    left: -23px;
  }
}
@media (min-width: 768px) {
  .blue-view .dashed-circle-container {
    display: none;
  }
}
.blue-view .hero-title {
  position: absolute;
  left: 128px;
  top: 225px;
  display: flex;
  height: 74px;
  width: 216px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0px;
  color: #000;
  opacity: 1;
  transition: all 300ms ease-in-out;
  animation: moveUpLeftSmall 1s;
  font-family: "Gilroy-bold";
  font-weight: 800;
}
.blue-view .hero-title span {
  display: block;
}
@media (min-width: 640px) {
  .blue-view .hero-title {
    left: 250px;
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .blue-view .hero-title {
    left: 50%;
    top: 296px;
    height: 196px;
    width: 575px;
    transform: translateX(-15%);
    font-size: 45px;
    line-height: 40px;
    animation: moveUpLeft 1s;
  }
}
@media (min-width: 1024px) {
  .blue-view .hero-title {
    font-size: 60px;
    line-height: 70px;
  }
}
@media (min-width: 1280px) {
  .blue-view .hero-title {
    font-size: 80px;
    line-height: 98px;
  }
}
.blue-view .hero-title .hero-title-item {
  white-space: nowrap;
}
@keyframes moveUpLeft {
  from {
    transform: translate(200px, 200px);
  }
  to {
    transform: translate(-15%, 0);
  }
}
@keyframes moveUpLeftSmall {
  from {
    transform: translate(200px, 200px);
  }
  to {
    transform: translate(0, 0);
  }
}
.blue-view .custom-button {
  position: absolute;
  left: 202px;
  top: 347px;
  z-index: 30;
  display: flex;
  height: 46px;
  width: 162px;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid transparent;
  text-align: center;
  font-size: 19px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0;
  color: white;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 640px) {
  .blue-view .custom-button {
    left: 320px;
  }
}
@media (min-width: 768px) {
  .blue-view .custom-button {
    left: 45%;
    top: 484px;
    transform: translateX(100%);
    font-size: 35px;
    line-height: 55px;
  }
}
@media (min-width: 1280px) {
  .blue-view .custom-button {
    left: 50%;
    top: 554px;
    font-size: 45px;
  }
}
.blue-view .custom-span {
  display: block;
  white-space: nowrap;
  transition: all 1s ease-in-out;
  opacity: 0;
  transform: translate(0, -50px) translate(-100px, 0);
}
.blue-view .custom-span:first-of-type {
  animation: fadeInUp 1s forwards;
  border-bottom: none;
}
.blue-view .custom-span:last-of-type {
  animation: fadeInUp 1s forwards;
  border-bottom: 3px solid transparent;
  white-space: nowrap;
}
.custom-button:hover .blue-view .custom-span:last-of-type {
  border-bottom: 3px solid white;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translate(0, 0) translate(0, 0);
  }
}
.blue-view .compare-button {
  position: absolute;
  left: 202px;
  top: 447px;
  z-index: 30;
  display: flex;
  height: 46px;
  width: 162px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 19px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0;
  color: white;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 640px) {
  .blue-view .compare-button {
    left: 320px;
  }
}
@media (min-width: 768px) {
  .blue-view .compare-button {
    left: 45%;
    top: 684px;
    transform: translateX(100%);
    font-size: 35px;
    line-height: 55px;
  }
}
@media (min-width: 1280px) {
  .blue-view .compare-button {
    left: 50%;
    top: 695px;
    font-size: 45px;
  }
}
.blue-view .custom-span {
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
  opacity: 0;
  transform: translate(-100px, -50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.blue-view .custom-span:hover {
  border-bottom: 3px solid white;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.blue-view .custom-span.animated {
  animation: fadeInUp 1s forwards;
}
.blue-view .price-container {
  position: absolute;
  left: 264px;
  top: 672px;
  display: flex;
  height: 48px;
  width: 100px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0px;
  transition: all 0.3s ease-in-out;
  z-index: 50;
  animation: upLeft 1s;
  font-family: "Girloy-bold", sans-serif;
  font-weight: 800;
}
@media (min-width: 640px) {
  .blue-view .price-container {
    left: 374px;
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .blue-view .price-container {
    left: 50%;
    top: 894px;
    transform: translateX(150%);
    font-size: 55px;
    line-height: 80px;
    animation: upRight 1s;
  }
}
.blue-view .price-container .price-text {
  white-space: nowrap;
  font-family: "Girloy-bold", sans-serif;
}
@media (min-width: 1280px) {
  .blue-view .price-container {
    transform: translateX(350%);
    font-size: 65px;
    animation: upRightLarge 1s;
  }
}
@keyframes upRight {
  from {
    transform: translateX(0%) translateY(200px);
  }
  to {
    transform: translateX(150%) translateY(0);
  }
}
@keyframes upRightLarge {
  from {
    transform: translateX(25%) translateY(200px);
  }
  to {
    transform: translateX(350%) translateY(0);
  }
}
@keyframes upLeft {
  from {
    transform: translateX(300px) translateY(300px);
  }
  to {
    transform: translateX(0) translateY(0);
  }
}
.blue-view .price-circle {
  position: absolute;
  left: 207px;
  top: 597px;
  height: 245px;
  width: 245px;
}
@media (min-width: 640px) {
  .blue-view .price-circle {
    left: 300px;
  }
}
@media (min-width: 768px) {
  .blue-view .price-circle {
    display: none;
  }
}
.blue-view .large-price-circle {
  position: absolute;
  display: none;
  left: 50%;
  top: 787px;
  height: 376px;
  width: 376px;
  transform: translateX(3%);
  animation: moveDown 1s;
}
@media (min-width: 768px) {
  .blue-view .large-price-circle {
    display: block;
  }
}
@media (min-width: 1280px) {
  .blue-view .large-price-circle {
    transform: translateX(57%);
    animation: moveDownLarge 1s;
  }
}
@keyframes moveDown {
  from {
    transform: translate(3%, -300px);
  }
  to {
    transform: translate(3%, 0);
  }
}
@keyframes moveDownLarge {
  from {
    transform: translate(57%, -300px);
  }
  to {
    transform: translate(57%, 0);
  }
}
.blue-view .question-info {
  position: absolute;
  top: 707px;
  left: 37px;
  display: block;
  flex-direction: column;
  gap: 1px;
  text-align: left;
  font-size: 13px;
  color: white;
  z-index: 20;
}
@media (min-width: 768px) {
  .blue-view .question-info {
    display: flex;
    left: 0px;
    top: 328px;
    font-size: 30px;
    color: black;
  }
}
@media (min-width: 1280px) {
  .blue-view .question-info {
    left: 30px;
    display: flex;
  }
}
@media (min-width: 1536px) {
  .blue-view .question-info {
    display: flex;
    left: 142px;
  }
}
.blue-view .question-info__title {
  font-family: "Gilroy-bold";
}
.blue-view .question-info__message {
  font-family: "Gilroy-light";
}
.blue-view .arrowRightSmall {
  position: absolute;
  top: 460px;
  left: 355px;
  height: 28px;
  width: 28px;
}
@media (min-width: 420px) {
  .blue-view .arrowRightSmall {
    left: 385px;
  }
}
@media (min-width: 640px) {
  .blue-view .arrowRightSmall {
    left: 530px;
    height: 36px;
    width: 36px;
  }
}
@media (min-width: 768px) {
  .blue-view .arrowRightSmall {
    display: none;
  }
}
.blue-view .arrowRightLarge {
  z-index: 30;
  position: absolute;
  top: 600px;
  left: 50%;
  height: 70px;
  width: 70px;
  transform: translateX(700%);
}
@media (min-width: 768px) {
  .blue-view .arrowRightLarge {
    display: block;
    transform: translateX(450%);
  }
}
@media (min-width: 1024px) {
  .blue-view .arrowRightLarge {
    top: 562px;
    transform: translateX(600%);
  }
}
@media (min-width: 1280px) {
  .blue-view .arrowRightLarge {
    transform: translateX(700%);
  }
}
.blue-view .arrowLeftLarge {
  display: none;
  z-index: 40;
  position: absolute;
  top: 632px;
  left: 50%;
  height: 70px;
  width: 70px;
  transform: translateX(-500%);
}
@media (min-width: 1366px) {
  .blue-view .arrowLeftLarge {
    transform: translateX(-800%);
    display: block;
    top: 562px;
  }
}
.blue-view .blue-circle {
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00aaff;
  left: -210px;
  top: 170px;
  z-index: -10;
  height: 609px;
  width: 609px;
  animation: growUpBlueSmall 0.3s;
}
@media (min-width: 640px) {
  .blue-view .blue-circle {
    left: -100px;
    height: 650px;
    width: 650px;
  }
}
@media (min-width: 768px) {
  .blue-view .blue-circle {
    left: 50%;
    top: 183px;
    height: 1084px;
    width: 1084px;
    transform: translateX(-50%);
    animation: growMoveUpRight 0.6s;
  }
}
@keyframes growUpBlueSmall {
  from {
    scale: 0.8;
  }
  to {
    scale: 1;
  }
}
@keyframes growMoveUpRight {
  from {
    scale: 0.6;
    transform: translateX(-1500px) translateY(500px);
  }
  to {
    scale: 1;
  }
}
.blue-view .background-number-nine {
  position: absolute;
  display: none; /* Domyślnie ukryte */
  height: 51px; /* h-[51px] */
  width: 24px; /* w-[24px] */
  text-align: left; /* text-left */
  font-weight: 800; /* font-extrabold */
  line-height: 51px; /* leading-[51px] */
  opacity: 0.22;
  transition: all 1.5s ease; /* Czas i rodzaj animacji */
}
@media (min-width: 768px) {
  .blue-view .background-number-nine {
    display: block;
    left: 1660px;
    top: 679px;
    font-size: 75px;
    animation: slideUpAndLeft 1s;
  }
}
@keyframes slideUpAndLeft {
  from {
    transform: translate(-100px, -100px);
  }
  to {
    transform: translate(0, 0);
    opacity: 0.22;
  }
}
.blue-view .icon-box-container {
  position: absolute;
  left: 307px;
  top: 157px;
}
@media (min-width: 640px) {
  .blue-view .icon-box-container {
    left: 430px;
  }
}
@media (min-width: 768px) {
  .blue-view .icon-box-container {
    left: 1398px;
    top: 183px;
  }
}
.blue-view .icon-box2-container {
  position: absolute;
  left: 435px;
  top: 189px;
}
@media (min-width: 768px) {
  .blue-view .icon-box2-container {
    display: grid;
  }
}
.blue-view .icon-box2-container-md {
  position: absolute;
  left: 1502px;
  top: 932px;
}
@media (min-width: 768px) {
  .blue-view .icon-box2-container-md {
    display: grid;
  }
}
.blue-view .icon-box2-container-xl {
  position: absolute;
  left: -262.4px;
  top: 779px;
}
@media (min-width: 768px) {
  .blue-view .icon-box2-container-xl {
    display: grid;
  }
}
.blue-view .custom-border-background-up {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #c4ecfc;
  width: 100%;
  height: 300px;
  z-index: -70;
}
@media (min-width: 768px) {
  .blue-view .custom-border-background-up {
    display: none;
  }
}
.blue-view .custom-border-background {
  position: absolute;
  top: -154.0400390625px;
  left: -461.2970581055px;
  width: 1007px;
  height: 1052px;
  background-color: #c4ecfc;
  border-radius: 50% 50% 50% 50%/45% 45% 55% 55%;
  z-index: -40;
}
@media (min-width: 540px) {
  .blue-view .custom-border-background {
    left: -370px;
  }
}
@media (min-width: 640px) {
  .blue-view .custom-border-background {
    left: -240px;
  }
}
@media (min-width: 768px) {
  .blue-view .custom-border-background {
    width: 1007px;
    left: -50%;
    top: 150px;
    height: 1500px;
  }
}
@media (min-width: 1024px) {
  .blue-view .custom-border-background {
    width: 100%;
    left: 0;
    top: 150px;
    height: 1500px;
  }
}
.blue-view .custom-border-background-two {
  position: absolute;
  display: none;
  background-color: #c4ecfc;
  z-index: -40;
}
@media (min-width: 768px) {
  .blue-view .custom-border-background-two {
    display: block;
    top: 0px;
    left: 0;
    width: 100%;
    height: 800px;
  }
}/*# sourceMappingURL=blueView.css.map */