@font-face {
  font-family: 'MyCustomFont';
  src: url('../fonts/custom-font.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.blue-view {
  display: none;
  font-family: 'MyCustomFont', sans-serif;

  .customHeroImage {
    position: absolute;
    top: 280px;
    left: -90px;
    width: 404px;
    height: 404px;
    transform: rotate(30deg);

    @media (min-width: 640px) {
      left: -20px;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  .hero-image-large-container {
    position: relative;
    bottom: 80px;

    .hero-image-large {
      position: absolute;
      left: 50%;
      top: 80px;
      height: 900px;
      width: 900px;
      transform: translateX(-72%) rotate(20deg);
      z-index: 10;
      display: none;

      @media (min-width: 768px) {
        // md breakpoint
        display: block;
      }

      @media (min-width: 1280px) {
        // xl breakpoint
        top: -20px;
        height: 1300px;
        width: 1300px;
      }
    }
  }

  .animated-circle {
    display: none;

    @media (min-width: 768px) {
      // md breakpoint
      position: absolute;
      left: 60%;
      top: 212px;
      display: block;
      width: 640px;
      height: 640px;
      transform: translateX(-104%);
    }

    @media (min-width: 1280px) {
      // xl breakpoint
      left: 50%;
    }
  }

  .dashed-circle-container {
    position: absolute;
    z-index: 10;
    height: 359px;
    width: 359px;
    top: 262px;
    left: -133px;
    border: 2px dashed #000000; // border-dashed, border-black, border-[2px]
    border-radius: 50%; // rounded-full

    @media (min-width: 640px) {
      // sm breakpoint
      left: -23px;
    }

    @media (min-width: 768px) {
      // md breakpoint
      display: none;
    }
  }

  .hero-title {
    position: absolute;
    left: 128px;
    top: 225px;
    display: flex;
    height: 74px;
    width: 216px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: 800; // font-extrabold
    line-height: 37px;
    letter-spacing: 0px;
    color: #000; // text-black
    opacity: 1;
    transition: all 300ms ease-in-out;

    span {
      display: block;
    }

    @media (min-width: 640px) {
      left: 250px;
      font-size: 36px;
    }

    @media (min-width: 768px) {
      left: 50%;
      top: 296px;
      height: 196px;
      width: 575px;
      transform: translateX(-15%);
      font-size: 45px;
      line-height: 40px;
    }

    @media (min-width: 1024px) {
      font-size: 60px;
      line-height: 70px;
    }

    @media (min-width: 1280px) {
      font-size: 80px;
      line-height: 98px;
    }
    .hero-title-item {
      white-space: nowrap;
    }
  }

  .custom-button {
    position: absolute;
    left: 202px;
    top: 347px;
    z-index: 30;
    display: flex;
    height: 46px;
    width: 162px;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid transparent;
    text-align: center;
    font-size: 19px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0;
    color: white;
    transition: all 0.3s ease-in-out;

    @media (min-width: 640px) {
      left: 320px;
    }

    @media (min-width: 768px) {
      left: 45%;
      top: 484px;
      transform: translateX(100%);
      font-size: 35px;
      line-height: 55px;
    }

    @media (min-width: 1280px) {
      left: 50%;
      top: 554px;
      font-size: 45px;
    }
  }

  .custom-span {
    display: block;
    white-space: nowrap;
    transition: all 1s ease-in-out;
    opacity: 0;
    transform: translate(0, -50px) translate(-100px, 0);

    &:first-of-type {
      animation: fadeInUp 1s forwards;
    }

    &:last-of-type {
      border-bottom: 3px solid transparent;
      transition: border-color 0.3s ease-in-out;

      .custom-button:hover & {
        border-bottom: 3px solid white;
      }
    }
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translate(0, 0) translate(0, 0);
    }
  }

  .compare-button {
    position: absolute;
    left: 202px;
    top: 447px;
    z-index: 30;
    display: flex;
    height: 46px;
    width: 162px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 19px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0;
    color: white;
    transition: all 0.3s ease-in-out;

    @media (min-width: 640px) {
      left: 320px;
    }

    @media (min-width: 768px) {
      left: 45%;
      top: 684px;
      transform: translateX(100%);
      font-size: 35px;
      line-height: 55px;
    }

    @media (min-width: 1280px) {
      left: 50%;
      top: 695px;
      font-size: 45px;
    }
  }

  .custom-span {
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease-in-out;

    &:hover {
      border-bottom: 3px solid white;
    }

    // Animation styles (if needed)
    opacity: 0;
    transform: translate(-100px, -50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;

    // Animation on hover
    @keyframes fadeInUp {
      to {
        opacity: 1;
        transform: translate(0, 0);
      }
    }

    // Apply animation when necessary
    // (For example, using JavaScript to add an "animated" class)
    &.animated {
      animation: fadeInUp 1s forwards;
    }
  }

  .price-container {
    position: absolute;
    left: 264px;
    top: 672px;
    display: flex;
    height: 48px;
    width: 100px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0px;
    transition: all 0.3s ease-in-out;
    z-index: 100;

    @media (min-width: 640px) {
      left: 374px;
      font-size: 22px;
    }

    @media (min-width: 768px) {
      left: 50%;
      top: 894px;
      transform: translateX(150%);
      font-size: 55px;
      line-height: 80px;
    }

    @media (min-width: 1280px) {
      transform: translateX(350%);
      font-size: 65px;
    }

    .price-text {
      white-space: nowrap;

      &:first-of-type {
        // Animacja dla pierwszego span
        opacity: 0;
        transform: translateY(50px) translateX(-50px);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;

        // Kiedy jest animowany
        &.animate {
          opacity: 1;
          transform: translateY(0) translateX(0);
        }
      }

      &:nth-of-type(2) {
        // Animacja dla drugiego span
        opacity: 0;
        transform: translateY(50px) translateX(-50px);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;

        // Kiedy jest animowany
        &.animate {
          opacity: 1;
          transform: translateY(0) translateX(0);
        }
      }
    }
  }

  .price-circle {
    position: absolute;
    left: 207px;
    top: 597px;
    height: 245px;
    width: 245px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .large-price-circle {
    position: absolute;
    display: none;
    left: 50%;
    top: 787px;
    height: 376px;
    width: 376px;
    transform: translateX(3%);

    @media (min-width: 768px) {
      display: block;
    }
    @media (min-width: 1280px) {
      transform: translateX(57%);
    }
  }

  .question-info {
    position: absolute;
    top: 707px;
    display: none;
    flex-direction: column;
    gap: 1px;
    text-align: left;
    font-size: 13px;
    color: white;
    z-index: 20;

    @media (min-width: 768px) {
      display: flex;
      left: 0px;
      top: 328px;
      font-size: 30px;
      color: black;
    }

    @media (min-width: 1280px) {
      left: 30px;
      display: flex;
    }

    @media (min-width: 1536px) {
      display: flex;
      left: 142px;
    }

    &__title {
      font-weight: 800; // Equivalent to font-extrabold
    }

    &__message {
      font-weight: 300; // Equivalent to font-light
    }
  }

  .arrowRightSmall {
    position: absolute;
    top: 460px;
    left: 365px;
    height: 28px; // h-7 corresponds to 7 * 4px = 28px
    width: 28px; // w-7 corresponds to 7 * 4px = 28px

    @media (min-width: 640px) {
      // sm breakpoint
      left: 530px;
      height: 36px; // sm:h-9 corresponds to 9 * 4px = 36px
      width: 36px; // sm:w-9 corresponds to 9 * 4px = 36px
    }

    @media (min-width: 768px) {
      // md breakpoint
      display: none;
    }
  }

  .arrowRightLarge {
    z-index: 30;
    position: absolute;
    top: 600px;
    left: 50%;
    height: 70px; // md:h-[70px]
    width: 70px; // md:w-[70px]
    transform: translateX(700%);

    @media (min-width: 768px) {
      // md breakpoint
      display: block;
      transform: translateX(450%);
    }

    @media (min-width: 1024px) {
      // lg breakpoint
      top: 562px;
      transform: translateX(600%);
    }

    @media (min-width: 1280px) {
      // xl breakpoint
      transform: translateX(700%);
    }
  }

  .arrowLeftLarge {
    display: none;
    z-index: 40;
    position: absolute;
    top: 632px;
    left: 50%;
    height: 70px; // md:h-[70px]
    width: 70px; // md:w-[70px]
    transform: translateX(-500%);

    @media (min-width: 768px) {
      // md breakpoint
      display: block;
      transform: translateX(-800%);
    }

    @media (min-width: 1024px) {
      // lg breakpoint
      top: 562px;
    }
  }

  .blue-circle {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00aaff; /* Przykładowy kolor dla .bg-semiBlue */

    // Rozmiar i pozycjonowanie
    left: -210px;
    top: 170px;
    z-index: -10;
    height: 609px;
    width: 609px;

    @media (min-width: 640px) {
      left: -100px;
      height: 650px;
      width: 650px;
    }

    @media (min-width: 768px) {
      left: 50%;
      top: 183px;
      height: 1084px;
      width: 1084px;
      transform: translateX(-50%);
    }
  }

  .background-number-nine {
    position: absolute;
    display: none; /* Domyślnie ukryte */
    height: 51px; /* h-[51px] */
    width: 24px; /* w-[24px] */
    text-align: left; /* text-left */
    font-weight: 800; /* font-extrabold */
    line-height: 51px; /* leading-[51px] */
    opacity: 0.22;
    transition: all 1.5s ease; /* Czas i rodzaj animacji */

    @media (min-width: 768px) {
      display: block;
      left: 1660px; 
      top: 679px; 
      font-size: 75px;
      animation: slideUpAndLeft 1s;
    }
  }

  /* Definicja animacji */
  @keyframes slideUpAndLeft {
    from {
      transform: translate(-100px, -100px); 
    }
    to {
      transform: translate(0, 0);
      opacity: 0.22;
    }
  }

  .icon-box-container {
    position: absolute;
    left: 307px;
    top: 157px;

    @media (min-width: 640px) {
      left: 430px;
    }

    @media (min-width: 768px) {
      left: 1398px;
      top: 183px;
    }
  }

  .icon-box2-container {
    position: absolute;
    left: 435px;
    top: 189px;

    @media (min-width: 768px) {
      display: grid;
    }
  }

  .icon-box2-container-md {
    position: absolute;
    left: 1502px;
    top: 932px;

    @media (min-width: 768px) {
      display: grid;
    }
  }

  .icon-box2-container-xl {
    position: absolute;
    left: -262.4px;
    top: 779px;

    @media (min-width: 768px) {
      display: grid;
    }
  }
}
